@keyframes banner-link {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-15px);
    }
}

@keyframes subscribe-link {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(15px);
    }
}

@keyframes info-block {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }