@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('../fonts/myriadpro/MyriadPro-Regular.eot');
	src: local('☺'), url('../fonts/myriadpro/MyriadPro-Regular.woff') format('woff'), url('../fonts/myriadpro/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/myriadpro/MyriadPro-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica_bold';
	src: url('../fonts/helvetica/aghelvetica_bold.eot');
	src: local('☺'), url('../fonts/helvetica/aghelvetica_bold.woff') format('woff'), url('../fonts/helvetica/aghelvetica_bold.ttf') format('truetype'), url('../fonts/helvetica/aghelvetica_bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica-Regular';
	src: url('../fonts/helvetica/Helvetica-Regular.eot');
	src: local('☺'), url('../fonts/helvetica/Helvetica-Regular.woff') format('woff'), url('../fonts/helvetica/Helvetica-Regular.ttf') format('truetype'), url('../fonts/helvetica/Helvetica-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/roboto/Roboto-Light.eot');
	src: local('☺'), url('../fonts/roboto/Roboto-Light.woff') format('woff'), url('../fonts/roboto/Roboto-Light.ttf') format('truetype'), url('../fonts/roboto/Roboto-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('../fonts/roboto/Roboto-Medium.eot');
	src: local('☺'), url('../fonts/roboto/Roboto-Medium.woff') format('woff'), url('../fonts/roboto/Roboto-Medium.ttf') format('truetype'), url('../fonts/roboto/Roboto-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/roboto/Roboto-Regular.eot');
	src: local('☺'), url('../fonts/roboto/Roboto-Regular.woff') format('woff'), url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'), url('../fonts/roboto/Roboto-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('../fonts/roboto/Roboto-Bold.eot');
	src: local('☺'), url('../fonts/roboto/Roboto-Bold.woff') format('woff'), url('../fonts/roboto/Roboto-Bold.ttf') format('truetype'), url('../fonts/roboto/Roboto-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'GreatVibes-Regular';
	src: url('../fonts/greatvibes/GreatVibes-Regular.eot');
	src: local('☺'), url('../fonts/greatvibes/GreatVibes-Regular.woff') format('woff'), url('../fonts/greatvibes/GreatVibes-Regular.ttf') format('truetype'), url('../fonts/greatvibes/GreatVibes-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
