// font color
$fontWhite: #fff;
$fontGreen: #78b000;
$fontGreenLight: #7abf00;
$gray: #f7f6f2;
$fontColorLink: #333333;
$fontColorDark: #525252;
$fontColorSilver: #999999;
$fontRadio: #9f9e9c;
$fontPriceGrey: #dddddd;
$fontLinkAboutMe: #bac3c3;
$fontMessage: #aaaaaa;
$fontUser: #b8ca00;
$fontNewsInfo: #9f9f9f;
$fontSubInput: #cccccc;
$fontBlue: #74d1d1;
$fontStockGrey: #a0a0a0;
$fontStockPrice: #7fba00;
$fontStockPagination: #bfbfbf;
$fontPromoCard: #95a200;
$fontPromoCardTitle: #a7c57f;
$fontPromoCardPeach: #ffbe00;
$fontPromoCardPeachTitle: #afa765;

// section bg color
$sectionBgWhite: #fff;
$footerBgGray: #f9f8f4;
$footerBgSilver: #f7f6f2;
$cardPeach: #fbefa1;

// bg item
$bgLink: #7fbc00;
$bgWhite: #fff;
$bgBtnGreen: #78b000;
$bgItemGreen: #7ac200;
$bgItemGrey: #dfdede;
$bgShopGrey: #f7f6f2;
$bgBtnNew: #92d2a7;
$bgBtnSale: #79d1d6;
$bgIcon: #dedede;
$bgIconHeart: #ff0000;
$bgBtnForm: #7cc000;

// font family
$robotoLight: "Roboto-Light";
$robotoMedium: "Roboto-Medium";
$robotoBold: "Roboto-Bold";
$robotoRegular: "Roboto-Regular";
$helveticaRegular: "Helvetica-Regular";
$helveticaBold: "Helvetica-bold";

// border color
$borderColorGrey: #fbf8f7;
$borderColorGreyDark: #ebeae6;
$borderColorSilver: #bbbbbb;
$borderColorSilverLight: #bababa;
$borderColorGreen: #78b000;
$borderColorGreenLight: #7dbd00;
$borderRadio: #d8d8d7;
$borderBlack: #000000;
$borderWhite: #ffffff;
$borderLabelGrey: #eeeeee;
$borderAvatar: #90d3a6;
$borderArticle: #efefef;
$borderPromo: #ebebeb;

// outline color
$outlineGreen: #78b000;

// box-shadow color
$boxshadowGrey: #d8d8d7;
