.info {
  padding-top: 200px;
  padding-bottom: 65px;

  @media (max-width: 1230px) {
    padding-top: 100px;
  }
}

.info-wrap {
}

.info-row {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1230px) {
    &:first-child {
      flex-direction: column;
    }
    &:last-child {
      flex-direction: column-reverse;
    }
  }
}

.info-row + .info-row {
  margin-top: 120px;
}

@media (max-width: 680px) {
  .info-row + .info-row {
    margin-top: 60px;
  }
}

.info-col {
  @media (max-width: 1230px) {
    margin-top: 40px;
  }
}

.info-col-col {
  display: flex;
  flex-direction: row;

  @media (max-width: 680px) {
    flex-direction: column;
    align-items: center;
  }
}

.info-col-row {
  display: flex;
  flex-direction: column;
  max-width: 480px;
}

.info__card {
  position: relative;
  z-index: 50;

  input {
    position: absolute;
    left: -9999px;
  }

  label {
    width: 170px;
    height: 300px;
    padding: 10px 10px 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-width: 1.667px;
    border-color: $borderLabelGrey;
    border-style: solid;
    border-radius: 9px;
    background-color: $sectionBgWhite;
    cursor: pointer;
    transition: border 0.4s linear, box-shadow 0.4s linear 0.2s;
    overflow: hidden;
  }

  input:checked + label {
    box-shadow: 0px 10px 15px $boxshadowGrey;
    border-color: $borderColorGreenLight;
  }
}

@media (max-width: 680px) {
  .info__card + .info__card {
    margin-top: 30px;
  }
}

@media (min-width: 680px) {
  .info__card + .info__card {
    margin-left: 30px;
  }
}

.info__card-img {
  height: 150px;
  margin-bottom: 40px;
}

.info__card-title {
  position: relative;
  margin-bottom: 15px;
  font-size: 18px;
  color: $fontColorDark;
  text-align: center;

  &::before {
    position: absolute;
    content: "";
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1px;
    background-color: $borderLabelGrey;
    width: 40px;
    height: 2px;
  }
}

.info__card-text {
  font-size: 13px;
  font-family: $helveticaRegular;
  font-weight: 400;
  line-height: 1;
  color: $fontGreenLight;
  text-align: center;
}

.info__text {
}

.info__text-subtitle {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1;
  font-family: $robotoMedium;
  font-weight: 500;
  letter-spacing: 2px;
  color: $fontColorDark;
}

.info__text-title {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 35px;
  font-weight: 400;
  font-family: "MyriadPro-Regular";
  color: $fontColorDark;

  span {
    font-weight: 700;
  }
}

.info__text-desc {
  font-size: 16px;
  font-weight: 400;
  font-family: $robotoRegular;
  color: $fontColorDark;
  line-height: 1.8;

  span {
    font-weight: 700;
  }
}
