.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  z-index: 100;
}

.nav-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-col {
  display: flex;
  align-items: center;
}

.logo {
  position: relative;
  font-size: 30px;
  color: $fontColorLink;
  text-transform: uppercase;
  line-height: 30px;

  &::before {
    position: absolute;
    top: -25px;
    left: 50%;
    content: "";
    transform: translateX(-50%);
    background: url("../img/logo/leaf.png") top left no-repeat;
    height: 30px;
    width: 30px;
  }
}

.nav__menu-wrap {
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;
}

.nav__menu-item {
  padding: 10px 15px;
  overflow: hidden;
  cursor: pointer;

  &:hover .menu-link::before {
    bottom: 100%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, 50%);
  }
}

.menu-link {
  position: relative;
  font-size: 15px;
  font-family: $robotoMedium;
  font-weight: 500;
  color: $fontColorLink;

  &::before {
    position: absolute;
    bottom: -10px;
    left: 50%;
    content: "";
    transform: translate(-50%, 0);
    width: 6px;
    height: 6px;
    background: $bgLink;
    border-radius: 50%;
    transition: bottom 0.3s, width 0.5s, height 0.5s, transform 0.3s;
    transition-delay: 0s, 0.3s, 0.3s, 0.3s;
    z-index: -1;
  }

  &:hover::before {
    bottom: 100%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, 50%);
  }
}

.nav__cart {
  display: flex;
  align-items: center;
  margin-left: 40px;

  * ~ * {
    margin-left: 15px;
  }

  span {
    font-size: 15px;
    color: $fontColorLink;
    font-family: $robotoMedium;
    font-weight: 500;
  }
}

.nav__cart-link {
  position: relative;

  &::before {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -7px;
    right: -7px;
    content: "2";
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-family: $robotoMedium;
    font-weight: 500;
    color: $fontWhite;
    background: $bgLink;
    border-radius: 50%;
    border: 2px solid $borderColorGrey;
  }
}

.nav__burger {
  position: relative;
  margin-left: 80px;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: $fontColorLink;
    transition: width 0.3s ease-in-out, top 0.3s ease-in-out 0.3s,
      height 0.3s ease-in-out 0s;
  }

  &::after {
    position: absolute;
    top: 100%;
    right: 0;
    content: "";
    width: 50%;
    height: 2px;
    background: $fontColorLink;
    transition: width 0.3s ease-in-out, top 0.3s ease-in-out 0.3s,
      height 0.3s ease-in-out 0s;
  }

  span {
    &::before {
      position: absolute;
      top: 33%;
      right: 0;
      content: "";
      width: 70%;
      height: 2px;
      background: $fontColorLink;
      transition: width 0.3s ease-in-out, top 0.3s ease-in-out 0.3s,
        height 0.3s ease-in-out 0.3s;
    }

    &::after {
      position: absolute;
      top: 66%;
      right: 0;
      content: "";
      width: 100%;
      height: 2px;
      background: $fontColorLink;
      transition: width 0.3s ease-in-out, top 0.3s ease-in-out 0.3s,
        height 0.3s ease-in-out 0.3s;
    }
  }

  &:hover::after,
  &:hover span::before {
    width: 100%;
  }

  &:hover span::before,
  &:hover span::after {
    height: 4px;
    top: 50%;
  }

  &:hover::before {
    top: 12%;
    height: 3px;
  }

  &:hover::after {
    top: 90%;
    height: 3px;
  }
}
