.news {
  position: relative;
  padding-bottom: 140px;
  z-index: 70;
}

.news__carousel-wrap {
  position: relative;
  margin-bottom: 30px;

  .news__carousel-nav {
    display: flex;
    position: absolute;
    bottom: 43px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 70;
  }

  .header__carousel-custom {
    border: 1px solid $borderLabelGrey;
  }
}

.news__carousel {
  border-bottom: 1px solid $borderLabelGrey;
  z-index: 60;
  transform: translateY(-55px);
}

.news__carousel-item {
  display: flex;
  justify-content: space-between;
  padding: 80px 60px 80px 90px;
  max-width: 570px;
  background: $bgWhite;
  border-radius: 13px 13px 0 0;

  * + * {
    margin-left: 30px;
  }

  @media (max-width: 680px) {
    padding: 40px 20px 40px 20px;

    * + * {
      margin-left: 10px;
    }
  }
}

.news__carousel-avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 8px solid $borderAvatar;

  @media (max-width: 680px) {
    height: 50px;
    width: 50px;
  }
}

.news__carousel-text {
  max-width: 270px;
}

.news__carousel-message {
  margin-bottom: 45px;
  font-size: 17px;
  color: $fontMessage;
  font-style: italic;
  line-height: 1.5;
  text-align: left;
  font-family: "Lora";
}

.news__carousel-user {
  margin: 0;
  font-size: 13px;
  font-family: $robotoBold;
  font-weight: 700;
  color: $fontColorLink;
  line-height: 1.3;
  text-align: left;

  i {
    color: $fontUser;
    margin-right: 5px;
  }
}

.news__blog {
}

.news__blog-article {
  display: flex;

  @media (max-width: 680px) {
    flex-direction: column;
  }
}

.news__blog-subtitle {
  margin-bottom: 10px;
  font-size: 12px;
  font-family: $robotoRegular;
  font-weight: 400;
  letter-spacing: 2px;
  color: $fontColorDark;
  text-align: center;
}

.news__blog-title {
  margin-bottom: 60px;
  font-size: 35px;
  color: $fontColorDark;
  text-align: center;
}

.news__blog-article-row {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1230px) {
    align-items: center;
    flex-direction: column;

    .news__blog-article + .news__blog-article {
      margin-top: 40px;
    }
  }
}

.news__blog-article-img {
  position: relative;
  margin-right: 50px;
  width: 240px;
  height: 220px;
  border: 1px solid $borderArticle;
  border-radius: 15px;

  img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 15px;
  }

  @media (max-width: 680px) {
    margin: 0 0 40px;
  }
}

.news__blog-article-info {
  max-width: 270px;
}

.news__blog-article-info-date {
  display: block;
  margin-bottom: 15px;
  font-size: 10px;
  font-family: $robotoMedium;
  font-weight: 500;
  color: $fontNewsInfo;
}

.news__blog-article-info-title {
  position: relative;
  margin-bottom: 50px;
  font-size: 22px;
  color: $fontColorDark;
  line-height: 1.5;

  &::before {
    position: absolute;
    content: "";
    bottom: -25px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: $borderArticle;
  }
}

.news__blog-article-info-text {
  position: relative;
  margin-bottom: 30px;
  height: 40px;
  font-size: 14px;
  font-family: $helveticaRegular;
  font-weight: 400;
  line-height: 1.5;
  color: $fontColorDark;
  overflow: hidden;
}

.news__blog-article-info-link {
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  font-family: $helveticaRegular;
  font-weight: 400;
  color: $fontColorSilver;
  transition: color 0.3s linear;

  span {
    font-size: 20px;
    margin-left: 10px;
  }

  &:hover {
    color: $fontGreen;
  }
}
