.shop-big {
  position: relative;
  padding: 65px 0 125px;
}

.shop-big-wrap {
}

.shop-big__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.shop-big__nav-subtitle {
  margin-bottom: 20px;
  font-size: 12px;
  font-family: "Roboto-Medium";
  font-weight: 500;
  letter-spacing: 2px;
  color: rgb(82, 82, 82);
  text-align: center;
}

.shop-big__nav-title-row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  width: 100%;
}

.shop-big__nav-title {
  display: inline-block;
  padding: 17px 45px;
  font-size: 40px;
  font-family: "Roboto-Light";
  font-weight: 300;
  color: rgb(82, 82, 82);
  line-height: 40px;
  text-align: center;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  border-radius: 35px;

  span {
    font-family: "Roboto-Bold";
    font-weight: 700;
  }

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
    z-index: -1;
  }
}

.shop-big__nav-wrap {
  display: flex;

  input {
    position: absolute;
    left: -9999px;
  }

  input:checked + label {
    box-shadow: 0px 10px 15px #d8d8d7;
    color: #fff;
    &::before {
      top: 0;
    }
  }

  label {
    position: relative;
    margin-left: 12px;
    padding: 0px 12px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: "Roboto-Light";
    line-height: 14px;
    font-weight: 300;
    color: rgb(159, 158, 155);
    cursor: pointer;
    border-width: 0.833px;
    border-color: rgb(225, 225, 225);
    border-style: solid;
    border-radius: 15px;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in 0.3s, color 0.3s ease-in;

    &:first-child {
      margin-left: 0;
    }

    &::before {
      position: absolute;
      content: "";
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(120, 176, 0);
      transition: top 0.3s ease-in;
      z-index: -1;
    }

    &:hover {
      box-shadow: 0px 10px 15px #d8d8d7;
      color: #fff;
      &::before {
        top: 0;
      }
    }

    span {
      font-family: "Roboto-Bold";
      font-weight: 700;
    }
  }
}

.shop-big__carousel {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    height: 980px;
}

.shop-big__carousel.owl-carousel.owl-theme .owl-dots  {
  margin: 0;

  .owl-dot {
    outline: none;
  }

  .owl-dot span {
    margin: 0;
    width: 50px;
    height: 8px;
    background: #dfdede;
    border-radius: 0;
    transition: background .3s linear;
  }

  .owl-dot.active span {
    background: linear-gradient( 0deg, rgb(146,210,167) 0%, rgb(90,199,204) 100%);
  }
  
  .owl-dot span:hover {
    background: linear-gradient( 0deg, rgb(146,210,167) 0%, rgb(90,199,204) 100%);
  }

  * + * {
    margin-left: 2px !important;
  }
}

.shop-big__carousel.owl-carousel.owl-theme .owl-stage-outer {
  margin-bottom: 60px;
}