.shop {
  position: relative;
  padding: 30px 0 130px;
  background: $sectionBgWhite;
  z-index: 50;
}

.shop__nav {
  margin-bottom: 40px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("../img/png/organic.png") center center no-repeat;
}

.shop__nav-col {
  display: flex;

  input {
    position: absolute;
    left: -9999px;
  }

  input:checked + label {
    box-shadow: 0px 10px 15px $boxshadowGrey;
    color: $fontWhite;
    &::before {
      top: 0;
    }
  }
}

.shop__nav-radio {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  padding: 15px 0px;
  min-width: 180px;
  max-width: 180px;
  font-size: 16px;
  line-height: 1;
  color: $fontRadio;
  cursor: pointer;
  background: transparent;
  border: 1px solid $borderRadio;
  border-radius: 23px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in 0.3s, color 0.3s ease-in;

  &::before {
    position: absolute;
    content: "";
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bgBtnGreen;
    transition: top 0.3s ease-in;
    z-index: -1;
  }

  &:hover {
    box-shadow: 0px 10px 15px $boxshadowGrey;
    color: $fontWhite;
    &::before {
      top: 0;
    }
  }
}

.shop__carousel.container-big.owl-carousel.owl-theme .owl-dots {
  margin: 0;

  .owl-dot {
    outline: none;
  }

  .owl-dot span {
    margin: 0;
    width: 50px;
    height: 8px;
    background: $bgItemGrey;
    border-radius: 0;
    transition: background 0.3s linear;
  }

  .owl-dot.active span {
    background: linear-gradient(
      0deg,
      rgb(146, 210, 167) 0%,
      rgb(90, 199, 204) 100%
    );
  }

  .owl-dot span:hover {
    background: linear-gradient(
      0deg,
      rgb(146, 210, 167) 0%,
      rgb(90, 199, 204) 100%
    );
  }

  * + * {
    margin-left: 2px !important;
  }
}

.shop__carousel.owl-carousel.owl-theme .owl-stage-outer {
  margin-bottom: 60px;
}

.shop__carousel-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 270px;
  height: 440px;
  border-radius: 13px;
  border: 3px solid rgba(255, 255, 255, 0);
  margin-bottom: 30px;
  padding-bottom: 45px;
  text-decoration: none;
  transition: box-shadow 0.4s linear, border 0.4s linear;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: $bgShopGrey;
    z-index: -1;
    border-radius: 13px 13px 0 0;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    background: transparent;
    transition: background 0.4s linear;
  }
}

.shop__carousel-item:hover {
  box-shadow: 0 10px 15px $boxshadowGrey;
  border: 3px solid $borderWhite;

  &::after {
    background-color: $bgLink;
  }

  .shop__carousel-icons {
    top: 50px;
  }
}

.shop__carousel-img {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: 220px;

  img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: contain;
  }
}

.shop__carousel-img::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: url("../img/png/shop-card-path.png") bottom center no-repeat;
  z-index: -1;
}

.shop__carousel-title {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
  color: $fontColorDark;
}

.shop__carousel-price {
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  font-family: $helveticaBold;
  color: $fontGreenLight;

  span {
    color: $fontPriceGrey;
    text-decoration: line-through;
  }
}

.shop__carousel-item-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.shop__carousel-item-teg {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;

  span {
    height: 25px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    letter-spacing: 2.2px;
    font-weight: bold;
    font-family: $helveticaBold;
    color: $fontWhite;
    text-transform: uppercase;
    border-width: 1.25px;
    border-color: $borderWhite;
    border-style: solid;
    border-radius: 12px;
  }
  span + span {
    margin-left: 10px;
  }
}

.card__teg-new {
  background: $bgBtnNew;
}

.card__teg-sale {
  background: $bgBtnSale;
}

.shop__carousel-icons {
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  background: $bgWhite;
  border-radius: 23px;
  overflow: hidden;
  box-shadow: 0px 10px 15px $boxshadowGrey;
  transition: top 0.4s linear 0.2s;

  i {
    font-size: 22px;
    color: $bgIcon;
    cursor: pointer;
  }
}

.shop__carousel-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;

  button {
    background-color: transparent;
    border: none;
    outline: none;
  }
}

.btn-heart-active i {
  color: $bgIconHeart;
}

.shop__carousel-icon + .shop__carousel-icon {
  border-left: 2px solid $borderColorGrey;
}
