.stock {
  position: relative;
  padding: 95px 0 120px;
  background: $gray;
  z-index: 60;

  &::before {
    position: absolute;
    top: -45px;
    right: 0;
    content: "";
    width: 150px;
    height: 180px;
    background: url("../img/stock/bg/01.png") bottom right/cover no-repeat;
    z-index: -5;
  }

  &::after {
    position: absolute;
    bottom: -65px;
    left: 0;
    content: "";
    width: 290px;
    height: 250px;
    background: url("../img/stock/bg/02.png") bottom left/cover no-repeat;
    z-index: -5;
  }
}

.stock-wrap {
  &::before {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    background: url('../img/png/header-border-down.png') top center no-repeat;
    width: 100%;
    height: 80px;
  }
}

.stock__text {
  position: relative;
  padding: 35px 0 60px;
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("../img/stock/bg/tomato.png") center center no-repeat;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $white;
    z-index: -5;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    transform: translateX(-50%);
    width: 170px;
    height: 2px;
    background-color: $green;
    z-index: -4;
  }
}

.stock__text-col {
  max-width: 400px;
}

.stock__text-subtitle {
  font-size: 12px;
  font-family: "Roboto-Medium";
  font-weight: 500;
  letter-spacing: 2px;
  color: rgb(82, 82, 82);
  text-align: right;
}

.stock__text-title {
  font-size: 40px;
  font-family: "Roboto-Light";
  font-weight: 300;
  color: rgb(82, 82, 82);
  text-align: right;

  span {
    font-family: "Roboto-Bold";
    font-weight: 700;
  }
}

.stock__text-desc {
  font-size: 14px;
  font-family: "MyriadPro-Regular";
  font-weight: 400;
  color: rgb(82, 82, 82);
  text-align: left;
  line-height: 1.8;
}

.stock__time {
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
}

.stock__time-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  flex-direction: column;
  border-radius: 9px;
  background: linear-gradient(
    -90deg,
    rgb(144, 211, 166) 0%,
    rgb(117, 209, 215) 100%
  );
  width: 80px;
  height: 80px;
  z-index: 5;

  &::before {
    position: absolute;
    top: 5px;
    left: 5px;
    content: "";
    width: 70px;
    height: 70px;
    border-radius: 7px;
    background-color: $white;
    z-index: -1;
  }
}

.stock__time-item + .stock__time-item {
  margin-left: 5px;
}

.stock__time-item-hours {
  font-size: 40px;
  color: rgb(82, 82, 82);
  font-weight: bold;
  font-family: "Helvetica_bold";
  text-align: center;
  line-height: 40px;
}

.stock__time-item-text {
  font-size: 14px;
  color: rgb(116, 209, 209);
  font-weight: bold;
  font-family: "Helvetica_bold";
  text-align: center;
  line-height: 14px;
}

.stock__cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}

.stock__card {
  display: flex;
  background: $white;
  border-radius: 11px;
  width: 570px;
  height: 250px;
}

.stock__card-col-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid #f7f6f2;
  min-width: 60px;
  height: 100%;
  margin-right: 40px;
}

.stock__card-btn {
  flex-grow: 1;
  width: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  outline-color: $green;
  font-size: 18px;
  color: #dedede;
}

.stock__card-btn + .stock__card-btn {
  border-top: 2px solid #f7f6f2;
}

.stock__card-col-text {
  padding-top: 40px;
}

.stock__card-text-subtitle {
  margin-bottom: 10px;
  font-size: 10px;
  font-family: "Roboto-Medium";
  font-weight: 500;
  color: rgb(160, 160, 160);
  letter-spacing: 2.5px;
  text-align: left;
}

.stock__card-text-title {
  margin-bottom: 25px;
  font-size: 30px;
  color: rgb(82, 82, 82);
  font-family: "Roboto-Light";
  font-weight: 300;
  text-align: left;

  span {
    font-family: "Roboto-Bold";
    font-weight: 700;
  }
}

.stock__card-text-desc {
  max-height: 50px;
  overflow: hidden;
  margin-bottom: 30px;
  font-family: "Helvetica-Regular";
  font-weight: 400;
  font-size: 14px;
  color: rgb(82, 82, 82);
  line-height: 1.8;
  text-align: left;
}

.stock__card-text-price {
  font-family: "Helvetica_bold";
  font-weight: 700;
  font-size: 14px;
  color: rgb(127, 186, 0);
  font-weight: bold;
  line-height: 1;
  text-align: left;

  span {
    color: #dedede;
    text-decoration: line-through;
  }
}

.stock__card-col-product {
  position: relative;
  min-width: 205px;
  height: 270px;
  padding-top: 20px;

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.stock__card-product-teg {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;

  span {
    height: 25px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    letter-spacing: 2.2px;
    font-weight: bold;
    font-family: "Helvetica_bold";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border-width: 1.25px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 12px;
  }
}

.stock__card-product-img {
  background: url("../img/png/shop-card-path.png") center center no-repeat,
    linear-gradient(180deg, #dbdad6 50%, #fff 50%);
  height: 100%;
  padding: 15px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.stock__pagination {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stock__pagination-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  width: 24px;
  height: 24px;
  font-size: 12px;
  color: rgb(191, 191, 191);
  font-weight: bold;
  line-height: 12px;
  font-family: "Roboto-Bold";
}

.stock__pagination-link + .stock__pagination-link {
  margin-left: 8px;
}

.stock__pagination-link--active {
  background-color: #90d3a6;
  color: $white;
}