.subscribe {
  position: relative;
  padding: 80px 0 125px;
  background: $footerBgSilver;
  z-index: 60;

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: url("../img/subs/bg/limon.png") bottom left no-repeat;
    z-index: -1;
  }

  &::after {
    position: absolute;
    content: "";
    top: -30px;
    right: 0px;
    width: 200px;
    height: 250px;
    background: url("../img/subs/bg/leaves.png") top right no-repeat;
    z-index: -1;

    @media (max-width: 1230px) {
      top: -130px;
    }
  }
}

.subscribe-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1230px) {
    flex-direction: column;
  }
}
.subscribe__text {
}

.subscribe__text-subtitle {
  font-size: 12px;
  font-family: $robotoMedium;
  font-weight: 500;
  color: $fontColorDark;
  letter-spacing: 2px;
}

.subscribe__text-title {
  font-size: 35px;
  color: $fontColorDark;
}

.subscribe__form {
  display: flex;

  * + * {
    margin-left: 20px;
  }

  @media (max-width: 1230px) {
    margin-top: 40px;
    flex-direction: column;
    align-items: center;

    * + * {
      margin-top: 20px;
    }
  }
}

#subscribe-email-input {
  padding: 0 40px;
  border-radius: 28px;
  background-color: $bgWhite;
  width: 550px;
  height: 55px;
  border: none;
  outline-color: $outlineGreen;
  font-size: 15px;
  color: $fontSubInput;
  font-family: $robotoRegular;
  font-weight: 400;

  &::placeholder {
    font-size: 15px;
    color: $fontSubInput;
    font-family: $robotoRegular;
    font-weight: 400;
  }

  @media (max-width: 680px) {
    width: 100%;
  }
}

.subscribe__form-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 55px;
  font-size: 18px;
  color: $fontWhite;
  font-family: $robotoRegular;
  font-weight: 400;
  border-radius: 28px;
  background-color: $bgBtnForm;
  border: none;
  outline-color: $outlineGreen;
  cursor: pointer;

  span {
    margin-left: 5px;
    font-size: 20px;
  }

  &:hover span {
    animation: subscribe-link 1s ease-in-out 0s infinite alternate;
  }
}
