@charset "UTF-8";

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    position: relative;
    font-size: 14px;
    color: #fff;
    font-family: 'Roboto-Regular';
    font-weight: 400;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

.container-big {
    max-width: 1860px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

@font-face {
    font-family: 'MyriadPro-Regular';
  src: url("../fonts/myriadpro/MyriadPro-Regular.eot");
  src: local("☺"), url("../fonts/myriadpro/MyriadPro-Regular.woff") format("woff"), url("../fonts/myriadpro/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/myriadpro/MyriadPro-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Helvetica_bold';
  src: url("../fonts/helvetica/aghelvetica_bold.eot");
  src: local("☺"), url("../fonts/helvetica/aghelvetica_bold.woff") format("woff"), url("../fonts/helvetica/aghelvetica_bold.ttf") format("truetype"), url("../fonts/helvetica/aghelvetica_bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Regular';
  src: url("../fonts/helvetica/Helvetica-Regular.eot");
  src: local("☺"), url("../fonts/helvetica/Helvetica-Regular.woff") format("woff"), url("../fonts/helvetica/Helvetica-Regular.ttf") format("truetype"), url("../fonts/helvetica/Helvetica-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
  src: url("../fonts/roboto/Roboto-Light.eot");
  src: local("☺"), url("../fonts/roboto/Roboto-Light.woff") format("woff"), url("../fonts/roboto/Roboto-Light.ttf") format("truetype"), url("../fonts/roboto/Roboto-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
  src: url("../fonts/roboto/Roboto-Medium.eot");
  src: local("☺"), url("../fonts/roboto/Roboto-Medium.woff") format("woff"), url("../fonts/roboto/Roboto-Medium.ttf") format("truetype"), url("../fonts/roboto/Roboto-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
  src: url("../fonts/roboto/Roboto-Regular.eot");
  src: local("☺"), url("../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype"), url("../fonts/roboto/Roboto-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
  src: url("../fonts/roboto/Roboto-Bold.eot");
  src: local("☺"), url("../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../fonts/roboto/Roboto-Bold.ttf") format("truetype"), url("../fonts/roboto/Roboto-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    z-index: 100;
}

.nav-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.nav-col {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.nav__logo {
    position: relative;
    font-size: 30px;
    font-family: "Roboto-Light";
    font-weight: 300;
    color: #333333;
    text-decoration: none;
    text-transform: uppercase;
}

.nav__logo span {
    font-family: "Roboto-Medium";
    font-weight: 500;
}

.nav__logo::before {
    position: absolute;
    top: -20px;
    left: 50%;
    content: "";
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: url("../img/logo/leaf.png") top left no-repeat;
    height: 30px;
    width: 30px;
}

.nav__menu-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    list-style: none;
}

.nav__menu-item {
    padding: 10px 15px;
    overflow: hidden;
}

.nav__menu-item-link {
    position: relative;
    font-size: 15px;
    font-family: "Roboto-Medium";
    font-weight: 500;
    color: #333333;
    text-decoration: none;
}

.nav__menu-item-link::before {
    position: absolute;
    bottom: -10px;
    left: 50%;
    content: "";
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 6px;
    height: 6px;
    background: #7fbc00;
    border-radius: 50%;
    transition: bottom 0.3s, width 0.5s, height 0.5s, -webkit-transform 0.3s;
    transition: bottom 0.3s, width 0.5s, height 0.5s, transform 0.3s;
    transition: bottom 0.3s, width 0.5s, height 0.5s, transform 0.3s, -webkit-transform 0.3s;
    transition-delay: 0s, 0.3s, 0.3s, 0.3s;
    z-index: -1;
}

.nav__menu-item-link:hover::before {
    bottom: 100%;
    width: 200px;
    height: 200px;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}

.nav__cart {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 40px;
}

.nav__cart * ~ * {
    margin-left: 15px;
}

.nav__cart span {
    font-size: 15px;
    color: #333333;
    font-family: "Roboto-Medium";
    font-weight: 500;
}

.nav__cart-link {
    position: relative;
}

.nav__cart-link::before {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: -7px;
    right: -7px;
    content: "2";
    width: 20px;
    height: 20px;
    background: #7fbc00;
    border-radius: 50%;
    border: 2px solid #fbf8f7;
    font-size: 12px;
    color: white;
    font-family: "Roboto-Medium";
    font-weight: 500;
}

.nav__burger {
    position: relative;
    margin-left: 80px;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}

.nav__burger::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #333333;
    transition: width 0.3s ease-in-out, top 0.3s ease-in-out 0.3s, height 0.3s ease-in-out 0s;
}

.nav__burger::after {
    position: absolute;
    top: 100%;
    right: 0;
    content: "";
    width: 50%;
    height: 2px;
    background: #333333;
    transition: width 0.3s ease-in-out, top 0.3s ease-in-out 0.3s, height 0.3s ease-in-out 0s;
}

.nav__burger span::before {
    position: absolute;
    top: 33%;
    right: 0;
    content: "";
    width: 70%;
    height: 2px;
    background: #333333;
    transition: width 0.3s ease-in-out, top 0.3s ease-in-out 0.3s, height 0.3s ease-in-out 0.3s;
}

.nav__burger span::after {
    position: absolute;
    top: 66%;
    right: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #333333;
    transition: width 0.3s ease-in-out, top 0.3s ease-in-out 0.3s, height 0.3s ease-in-out 0.3s;
}

.nav__burger:hover::after,
  .nav__burger:hover span::before {
    width: 100%;
}

.nav__burger:hover span::before,
  .nav__burger:hover span::after {
    height: 4px;
    top: 50%;
}

.nav__burger:hover::before {
    top: 12%;
    height: 3px;
}

.nav__burger:hover::after {
    top: 90%;
    height: 3px;
}

.header {
    position: relative;
    max-height: 1100px;
    height: 1100px;
    overflow: hidden;
}

.header::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #ffffff;
}

.header::after {
    position: absolute;
    content: "";
    bottom: -40px;
    left: 0%;
    width: 100%;
    height: 80px;
    background: url("../img/png/header-border-down.png") top center no-repeat;
    z-index: 200;
}

.header__carousel {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 60;
}

.header__carousel-custom {
    width: 35px;
    height: 25px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    background: #fff;
    transition: background 0.2s linear;
}

.header__carousel-custom:nth-child(1) {
    border-radius: 12px 0 0 12px;
    border-right: 1px solid #ebeae6;
}

.header__carousel-custom:nth-child(2) {
    border-radius: 0 12px 12px 0;
    border-left: 1px solid #ebeae6;
}

.header__carousel-custom:hover {
    background: #78b000;
}

.header__carousel.owl-theme .owl-dots {
    position: absolute;
    bottom: 60px;
    right: 80px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    max-width: 1860px;
    width: 100%;
    padding: 0 30px;
}

.header__carousel.owl-theme .owl-dots .owl-dot span {
    padding: 5px;
    margin: 0;
    background: transparent;
    font-size: 25px;
    font-family: "Roboto-Bold";
    font-weight: 700;
    color: #78b000;
}

.header__carousel-item {
    position: relative;
    width: 100%;
    height: 1100px;
}

.header__carousel-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.header__carousel-img img {
    width: 100%;
    height: 1150px;
    -o-object-fit: cover;
    object-fit: cover;
}

.header__carousel-col {
    padding-top: 390px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__carousel-title {
    margin: 0;
    margin-bottom: 40px;
    font-size: 70px;
    color: #333333;
    text-align: center;
    font-family: "Roboto-Light";
    font-weight: 300;
}

.header__carousel-title span {
    font-family: "Roboto-Medium";
    font-weight: 500;
}

.header__carousel-subtitle {
    margin: 0;
    margin-bottom: 80px;
    font-size: 15px;
    color: #333333;
    font-family: "Roboto-Medium";
    font-weight: 500;
    text-align: center;
    letter-spacing: 3px;
}

.header__carousel-wrap-btn {
    position: relative;
    z-index: 100;
}

.header__carousel-wrap-btn span {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 160px;
    height: 50px;
    background: linear-gradient(-93.95deg, #b3d597 0%, #4fc3d8 100%);
    background: -ms-linear-gradient(-93.95deg, #b3d597 0%, #4fc3d8 100%);
    border-radius: 25px;
    z-index: 5;
}

.header__carousel-wrap-btn:hover .header__carousel-btn {
    background: transparent;
}

.header__carousel-btn {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    font-size: 16px;
    color: #444444;
    font-family: "Roboto-Bold";
    font-weight: 700;
    background: white;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    transition: background 0.3s linear 0.1s;
    z-index: 10;
}

.header__carousel-social {
    position: absolute;
    top: 25%;
    right: 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
}

.header__carousel-social a + a {
    margin-top: 15px;
}

.header__carousel-social a {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: 1px solid #bbbbbb;
    border-radius: 50%;
    text-decoration: none;
    background-color: #ffffff;
    transition: 0.5s linear;
}

.header__carousel-social i {
    font-size: 15px;
    color: #bababa;
    transition: 0.5s linear;
}

.header__carousel-social a:hover {
    border: 1px solid #78b000;
    -webkit-transform: scale(2);
    transform: scale(2);
}

.header__carousel-social a:hover i {
    color: #78b000;
}

.header__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
}

.header__content-wrap {
    position: relative;
    width: 100%;
    height: 1100px;
}

.header__content-wrap::before {
    position: absolute;
    top: 50%;
    left: 12px;
    content: "";
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #bbbbbb;
    width: 1px;
    height: 70px;
}

.header__content-wrap::after {
    position: absolute;
    top: 50%;
    right: 12px;
    content: "";
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #bbbbbb;
    width: 1px;
    height: 70px;
}

.header__carousel-nav {
    position: absolute;
    bottom: 60px;
    right: 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    max-width: 1860px;
    width: 100%;
    z-index: 50;
}

.header__carousel-dots {
    position: absolute;
    bottom: 60px;
    left: calc(100% - 120px);
    max-width: 1860px;
    width: 100%;
    z-index: 30;
}

.header__carousel-dots span {
    font-size: 13px;
    font-family: "Roboto-Medium";
    font-weight: 500;
    color: white;
}

#header-carousel-active-dots {
    font-size: 25px;
    color: #78b000;
}

.shop {
    position: relative;
    padding: 30px 0 130px;
    background: #fff;
    z-index: 50;
}

.shop__nav {
    margin-bottom: 40px;
    height: 200px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    background: url("../img/png/organic.png") center center no-repeat;
}

.shop__nav-col {
    display: -ms-flexbox;
    display: flex;
}

.shop__nav-col input {
    position: absolute;
    left: -9999px;
}

.shop__nav-col input:checked + label {
    box-shadow: 0px 10px 15px #d8d8d7;
    color: #fff;
}

.shop__nav-col input:checked + label::before {
    top: 0;
}

.shop__nav-radio {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 10px;
    padding: 15px 0px;
    min-width: 180px;
    max-width: 180px;
    font-size: 16px;
    line-height: 1;
    color: #9f9e9c;
    font-weight: 300;
    font-family: "Roboto-Light";
    cursor: pointer;
    background: transparent;
    border: 1px solid #d8d8d7;
    border-radius: 23px;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in 0.3s, color 0.3s ease-in;
}

.shop__nav-radio span {
    font-family: "Roboto-Bold";
    font-weight: 700;
}

.shop__nav-radio::before {
    position: absolute;
    content: "";
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #78b000;
    transition: top 0.3s ease-in;
    z-index: -1;
}

.shop__nav-radio:hover {
    box-shadow: 0px 10px 15px #d8d8d7;
    color: #fff;
}

.shop__nav-radio:hover::before {
    top: 0;
}

.shop__carousel.container-big.owl-carousel.owl-theme .owl-dots {
    margin: 0;
}

.shop__carousel.container-big.owl-carousel.owl-theme .owl-dots .owl-dot {
    outline: none;
}

.shop__carousel.container-big.owl-carousel.owl-theme .owl-dots .owl-dot span {
    margin: 0;
    width: 50px;
    height: 8px;
    background: #dfdede;
    border-radius: 0;
    transition: background .3s linear;
}

.shop__carousel.container-big.owl-carousel.owl-theme .owl-dots .owl-dot.active span {
    background: linear-gradient(0deg, #92d2a7 0%, #5ac7cc 100%);
}

.shop__carousel.container-big.owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
    background: linear-gradient(0deg, #92d2a7 0%, #5ac7cc 100%);
}

.shop__carousel.container-big.owl-carousel.owl-theme .owl-dots * + * {
    margin-left: 2px !important;
}

.shop__carousel.owl-carousel.owl-theme .owl-stage-outer {
    margin-bottom: 60px;
}

.shop__carousel-item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 270px;
    height: 440px;
    border-radius: 13px;
    border: 3px solid rgba(255, 255, 255, 0);
    margin-bottom: 30px;
    padding-bottom: 45px;
    text-decoration: none;
    transition: box-shadow 0.4s linear, border .4s linear;
    overflow: hidden;
}

.shop__carousel-item::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: #f7f6f2;
    z-index: -1;
    border-radius: 13px 13px 0 0;
}

.shop__carousel-item::after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    background: transparent;
    transition: background .4s linear;
}

.shop__carousel-item:hover {
    box-shadow: 0 10px 15px #d8d8d8;
    border: 3px solid white;
}

.shop__carousel-item:hover::after {
    background-color: #7fbc00;
}

.shop__carousel-item:hover .shop__carousel-icons {
    top: 50px;
}

.shop__carousel-img {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    height: 220px;
}

.shop__carousel-img img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -o-object-fit: contain;
    object-fit: contain;
}

.shop__carousel-img::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: url("../img/png/shop-card-path.png") bottom center no-repeat;
    z-index: -1;
}

.shop__carousel-title {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    font-family: "Roboto-Light";
    color: #525252;
}

.shop__carousel-title span {
    font-family: "Roboto-Bold";
    font-weight: 700;
}

.shop__carousel-price {
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    font-family: "Helvetica_bold";
    color: #7fbb00;
}

.shop__carousel-price span {
    color: #dddddd;
    text-decoration: line-through;
}

.shop__carousel-item-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.shop__carousel-item-teg {
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: -ms-flexbox;
    display: flex;
}

.shop__carousel-item-teg span {
    height: 25px;
    width: 70px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 11px;
    letter-spacing: 2.2px;
    font-weight: bold;
    font-family: 'Helvetica_bold';
    color: white;
    text-transform: uppercase;
    border-width: 1.25px;
    border-color: white;
    border-style: solid;
    border-radius: 12px;
}

.shop__carousel-item-teg span + span {
    margin-left: 10px;
}

.card__teg-new {
    background: #92d2a7;
}

.card__teg-sale {
    background: #79d1d6;
}

.shop__carousel-icons {
    position: absolute;
    top: -150px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    border-radius: 23px;
    overflow: hidden;
    box-shadow: 0px 10px 15px #d8d8d8;
    transition: top .4s linear .2s;
}

.shop__carousel-icons i {
    font-size: 22px;
    color: #dedede;
    cursor: pointer;
}

.shop__carousel-icon {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15px 20px;
}

.shop__carousel-icon button {
    background-color: transparent;
    border: none;
    outline: none;
}

.btn-heart-active i {
    color: red;
}

.shop__carousel-icon + .shop__carousel-icon {
    border-left: 2px solid #f7f6f2;
}

.about-me {
    position: relative;
    background: #f7f6f2;
    height: 1080px;
    padding-top: 125px;
    z-index: 50;
}

.about-me::before {
    position: absolute;
    content: "";
    top: 100px;
    left: 0;
    width: 160px;
    height: 160px;
    background: url("../img/about-me/bg/03.png") no-repeat;
}

.about-me::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    width: 140px;
    height: 190px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url("../img/about-me/bg/02.png") no-repeat;
}

.about-me__text-title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 40px;
    color: #525252;
    text-align: center;
    font-family: "Roboto-Light";
    font-weight: 300;
}

.about-me__text-title span {
    font-family: "Roboto-Bold";
    font-weight: 700;
}

.about-me__text-subtitle {
    position: relative;
    margin: 0;
    margin-bottom: 45px;
    font-size: 12px;
    letter-spacing: 4px;
    font-family: "Roboto-Bold";
    font-weight: 700;
    color: #525252;
    text-align: center;
}

.about-me__text-desc {
    margin: 0;
    margin-bottom: 70px;
    font-size: 16px;
    color: #525252;
    text-align: center;
    font-family: "Helvetica-Regular";
    font-weight: 400;
}

.about-me__cards {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 380px;
}

.about-me__card {
    max-width: 270px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
}

.about-me__card:first-child, .about-me__card:last-child {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.about-me__card-img {
    margin-bottom: 30px;
}

.about-me__card-title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 18px;
    color: #525252;
    text-align: center;
    font-family: "Roboto-Light";
    font-weight: 300;
}

.about-me__card-title span {
    font-family: "Roboto-Bold";
    font-weight: 700;
}

.about-me__card-subtitle {
    margin: 0;
    margin-bottom: 30px;
    font-size: 14px;
    color: #525252;
    text-align: center;
    font-family: "Helvetica-Regular";
    font-weight: 400;
}

.about-me__card-link {
    position: relative;
    padding: 13px 30px;
    font-size: 12px;
    color: #bac3c3;
    text-align: center;
    line-height: 1;
    text-decoration: none;
    border-radius: 17px;
    background-color: white;
    z-index: 5;
    overflow: hidden;
    transition: color .5s linear .5s;
}

.about-me__card-link::before {
    position: absolute;
    content: "";
    top: 50%;
    right: -10px;
    width: 10px;
    height: 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #78b000;
    border-radius: 50%;
    z-index: -1;
    transition: right 0.5s linear, -webkit-transform 0.3s ease-in-out 0.5s;
    transition: right 0.5s linear, transform 0.3s ease-in-out 0.5s;
    transition: right 0.5s linear, transform 0.3s ease-in-out 0.5s, -webkit-transform 0.3s ease-in-out 0.5s;
}

.about-me__card-link::after {
    position: absolute;
    content: "";
    top: 50%;
    left: -10px;
    width: 10px;
    height: 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #78b000;
    border-radius: 50%;
    z-index: -1;
    transition: left 0.5s linear, -webkit-transform 0.3s ease-in-out 0.5s;
    transition: left 0.5s linear, transform 0.3s ease-in-out 0.5s;
    transition: left 0.5s linear, transform 0.3s ease-in-out 0.5s, -webkit-transform 0.3s ease-in-out 0.5s;
}

.about-me__card-link:hover {
    color: white;
}

.about-me__card-link:hover::before {
    -webkit-transform: scale(15);
    transform: scale(15);
    right: 80%;
}

.about-me__card-link:hover::after {
    -webkit-transform: scale(15);
    transform: scale(15);
    left: 80%;
}

.about-me__bg {
    position: absolute;
    bottom: -150px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.info {
    padding-top: 200px;
    padding-bottom: 65px;
}

.info-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.info-row + .info-row {
    margin-top: 120px;
}

.info-col-col {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

.info-col-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 480px;
}

.info__card {
    position: relative;
    z-index: 50;
}

.info__card input {
    position: absolute;
    left: -9999px;
}

.info__card label {
    width: 170px;
    height: 300px;
    padding: 10px 10px 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    border-width: 1.667px;
    border-color: #eeeeee;
    border-style: solid;
    border-radius: 9px;
    background-color: white;
    cursor: pointer;
    transition: border .4s linear, box-shadow .4s linear .2s;
    overflow: hidden;
}

.info__card input:checked + label {
    box-shadow: 0px 10px 15px #d8d8d7;
    border-color: #7dbd00;
}

.info__card + .info__card {
    margin-left: 30px;
}

.info__card-img {
    height: 150px;
    margin-bottom: 40px;
}

.info__card-title {
    position: relative;
    margin-bottom: 15px;
    font-size: 18px;
    color: #525252;
    text-align: center;
    font-family: "Roboto-Light";
    font-weight: 300;
}

.info__card-title span {
    font-family: "Roboto-Bold";
    font-weight: 700;
}

.info__card-title::before {
    position: absolute;
    content: "";
    top: -30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 1px;
    background-color: #eeeeee;
    width: 40px;
    height: 2px;
}

.info__card-text {
    font-size: 13px;
    font-family: "Helvetica-Regular";
    font-weight: 400;
    line-height: 1;
    color: #7fb900;
    text-align: center;
}

.info__text-subtitle {
    font-size: 12px;
    line-height: 1;
    font-family: "Roboto-Medium";
    font-weight: 500;
    letter-spacing: 2px;
    color: #525252;
}

.info__text-title {
    font-size: 35px;
    font-weight: 400;
    font-family: "MyriadPro-Regular";
    color: #525252;
}

.info__text-title span {
    font-weight: 700;
}

.info__text-desc {
    font-size: 16px;
    font-weight: 400;
    font-family: "MyriadPro-Regular";
    color: #525252;
    line-height: 1.8;
}

.info__text-desc span {
    font-weight: 700;
}

.shop-big {
    position: relative;
    padding: 65px 0 125px;
}

.shop-big__nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
}

.shop-big__nav-subtitle {
    margin-bottom: 20px;
    font-size: 12px;
    font-family: "Roboto-Medium";
    font-weight: 500;
    letter-spacing: 2px;
    color: #525252;
    text-align: center;
}

.shop-big__nav-title-row {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 60px;
    width: 100%;
}

.shop-big__nav-title {
    display: inline-block;
    padding: 17px 45px;
    font-size: 40px;
    font-family: "Roboto-Light";
    font-weight: 300;
    color: #525252;
    line-height: 40px;
    text-align: center;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    border-radius: 35px;
}

.shop-big__nav-title span {
    font-family: "Roboto-Bold";
    font-weight: 700;
}

.shop-big__nav-title::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
    z-index: -1;
}

.shop-big__nav-wrap {
    display: -ms-flexbox;
    display: flex;
}

.shop-big__nav-wrap input {
    position: absolute;
    left: -9999px;
}

.shop-big__nav-wrap input:checked + label {
    box-shadow: 0px 10px 15px #d8d8d7;
    color: #fff;
}

.shop-big__nav-wrap input:checked + label::before {
    top: 0;
}

.shop-big__nav-wrap label {
    position: relative;
    margin-left: 12px;
    padding: 0px 12px;
    height: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
    font-family: "Roboto-Light";
    line-height: 14px;
    font-weight: 300;
    color: #9f9e9b;
    cursor: pointer;
    border-width: 0.833px;
    border-color: #e1e1e1;
    border-style: solid;
    border-radius: 15px;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in 0.3s, color 0.3s ease-in;
}

.shop-big__nav-wrap label:first-child {
    margin-left: 0;
}

.shop-big__nav-wrap label::before {
    position: absolute;
    content: "";
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #78b000;
    transition: top 0.3s ease-in;
    z-index: -1;
}

.shop-big__nav-wrap label:hover {
    box-shadow: 0px 10px 15px #d8d8d7;
    color: #fff;
}

.shop-big__nav-wrap label:hover::before {
    top: 0;
}

.shop-big__nav-wrap label span {
    font-family: "Roboto-Bold";
    font-weight: 700;
}

.shop-big__carousel {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 980px;
}

.shop-big__carousel.owl-carousel.owl-theme .owl-dots {
    margin: 0;
}

.shop-big__carousel.owl-carousel.owl-theme .owl-dots .owl-dot {
    outline: none;
}

.shop-big__carousel.owl-carousel.owl-theme .owl-dots .owl-dot span {
    margin: 0;
    width: 50px;
    height: 8px;
    background: #dfdede;
    border-radius: 0;
    transition: background .3s linear;
}

.shop-big__carousel.owl-carousel.owl-theme .owl-dots .owl-dot.active span {
    background: linear-gradient(0deg, #92d2a7 0%, #5ac7cc 100%);
}

.shop-big__carousel.owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
    background: linear-gradient(0deg, #92d2a7 0%, #5ac7cc 100%);
}

.shop-big__carousel.owl-carousel.owl-theme .owl-dots * + * {
    margin-left: 2px !important;
}

.shop-big__carousel.owl-carousel.owl-theme .owl-stage-outer {
    margin-bottom: 60px;
}
