<section class="about-me">
    <div class="container">
        <div class="about-me-wrap">
            <div class="about-me__text">
                <h2 class="about-me__text-title">we are <span>organic farmf</span></h2>
                <p class="about-me__text-subtitle">ABOUT NATURIX FARMFO</p>
                <div class="about-me__text-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
            </div>
            <div class="about-me__cards">
                <div class="about-me__card">
                    <div class="about-me__card-img">
                        <img src="./img/about-me/path/green-path.png" alt="green">
                    </div>
                    <h3 class="about-me__card-title">fresh from <span>naturix farm</span></h3>
                    <p class="about-me__card-subtitle">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                    <a href="#" class="about-me__card-link">READ MORE</a>
                </div>
                <div class="about-me__card">
                    <div class="about-me__card-img">
                        <img src="./img/about-me/path/yellow-path.png" alt="yellow">
                    </div>
                    <h3 class="about-me__card-title">100% <span>organic goods</span></h3>
                    <p class="about-me__card-subtitle">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                    <a href="#" class="about-me__card-link">READ MORE</a>
                </div>
                <div class="about-me__card">
                    <div class="about-me__card-img">
                        <img src="./img/about-me/path/red-path.png" alt="red">
                    </div>
                    <h3 class="about-me__card-title">premium <span>quality</span></h3>
                    <p class="about-me__card-subtitle">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                    <a href="#" class="about-me__card-link">READ MORE</a>
                </div>
                <div class="about-me__card">
                    <div class="about-me__card-img">
                        <img src="./img/about-me/path/brown-path.png" alt="brown">
                    </div>
                    <h3 class="about-me__card-title">100% <span>natural</span></h3>
                    <p class="about-me__card-subtitle">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                    <a href="#" class="about-me__card-link">READ MORE</a>
                </div>
            </div>
        </div>
    </div>
</section>