<footer class="footer">
    <div class="footer-wrap">
        <div class="footer-row__info">
            <div class="container footer-row__info-wrap">
                <div class="footer__info-col-logo">
                    <div class="logo">naturix <span>farmfood</span></div>
                    <div class="footer__info-logo-text"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p></div>
                    <div class="footer__info-logo-item"><p><span>100 highland ave,</span> california, united state</p></div>
                    <div class="footer__info-logo-item"><p>contact@naturix.com</p></div>
                    <div class="footer__info-logo-item"><a href="mailto:www.website.com">www.website.com</a></div>
                </div>
                <div class="footer__info-col-links">
                    <h5 class="footer__info-title title">
                        naturix <span>information</span>
                    </h5>
                    <ul class="footer__info-links">
                        <li>
                            <a href="#">about our shop</a>
                        </li>
                        <li>
                            <a href="#">top sellers</a>
                        </li>
                        <li>
                            <a href="#">our blog</a>
                        </li>
                        <li>
                            <a href="#">new products</a>
                        </li>
                        <li>
                            <a href="#">secure shopping</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__info-col-links">
                    <h5 class="footer__info-title title">
                        my <span>account</span>
                    </h5>
                    <ul class="footer__info-links">
                        <li>
                            <a href="#">my account</a>
                        </li>
                        <li>
                            <a href="#">discount</a>
                        </li>
                        <li>
                            <a href="#">personal information</a>
                        </li>
                        <li>
                            <a href="#">my address</a>
                        </li>
                        <li>
                            <a href="#">order history</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__info-col-social">
                    <h5 class="footer__info-title title">
                        photo <span>instagram</span>
                    </h5>
                    <div class="footer__info-social-gallery">
                        <a href="#" class="footer__info-social-gallery-item"><img src="./img/footer/inst/01.jpg" alt="01.jpg"></a>
                        <a href="#" class="footer__info-social-gallery-item"><img src="./img/footer/inst/02.jpg" alt="02.jpg"></a>
                        <a href="#" class="footer__info-social-gallery-item"><img src="./img/footer/inst/03.jpg" alt="03.jpg"></a>
                        <a href="#" class="footer__info-social-gallery-item"><img src="./img/footer/inst/04.jpg" alt="04.jpg"></a>
                        <a href="#" class="footer__info-social-gallery-item"><img src="./img/footer/inst/05.jpg" alt="05.jpg"></a>
                        <a href="#" class="footer__info-social-gallery-item"><img src="./img/footer/inst/06.jpg" alt="06.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-row__copy">
            <div class="footer__copy-btn-wrap">
                <button type="button" class="footer__btn-copy" data-btn-copy>
                    <img src="./img/png/arrow-top.png" alt="arrow-top">
                </button>
            </div>
            <div class="footer__copy-row container">
                <div class="footer__copy">
                    <p>©2017 ,, all right reserved</p>
                </div>
                <div class="footer__copy-links">
                    <ul>
                        <li>
                            <a class="menu-link" href="#">contact us</a>
                        </li>
                        <li>
                            <a class="menu-link" href="#">term of use</a>
                        </li>
                        <li>
                            <a class="menu-link" href="#">site map</a>
                        </li>
                        <li>
                            <a class="menu-link" href="#">privacy policy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__copy-row container" data-footer-last>
                <div class="footer__info-col-links">
                    <h5 class="footer__info-title title">
                        naturix <span>information</span>
                    </h5>
                    <ul class="footer__info-links">
                        <li>
                            <a href="#">about our shop</a>
                        </li>
                        <li>
                            <a href="#">top sellers</a>
                        </li>
                        <li>
                            <a href="#">our blog</a>
                        </li>
                        <li>
                            <a href="#">new products</a>
                        </li>
                        <li>
                            <a href="#">secure shopping</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__info-col-links">
                    <h5 class="footer__info-title title">
                        my <span>account</span>
                    </h5>
                    <ul class="footer__info-links">
                        <li>
                            <a href="#">my account</a>
                        </li>
                        <li>
                            <a href="#">discount</a>
                        </li>
                        <li>
                            <a href="#">personal information</a>
                        </li>
                        <li>
                            <a href="#">my address</a>
                        </li>
                        <li>
                            <a href="#">order history</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__info-col-links">
                    <h5 class="footer__info-title title">
                        naturix <span>information</span>
                    </h5>
                    <ul class="footer__info-links">
                        <li>
                            <a href="#">about our shop</a>
                        </li>
                        <li>
                            <a href="#">top sellers</a>
                        </li>
                        <li>
                            <a href="#">our blog</a>
                        </li>
                        <li>
                            <a href="#">new products</a>
                        </li>
                        <li>
                            <a href="#">secure shopping</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__info-col-links">
                    <h5 class="footer__info-title title">
                        my <span>account</span>
                    </h5>
                    <ul class="footer__info-links">
                        <li>
                            <a href="#">my account</a>
                        </li>
                        <li>
                            <a href="#">discount</a>
                        </li>
                        <li>
                            <a href="#">personal information</a>
                        </li>
                        <li>
                            <a href="#">my address</a>
                        </li>
                        <li>
                            <a href="#">order history</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>