<header>
    <section class="nav">
        <div class="container-big">
            <div class="nav-wrap">
                <div class="nav-col">
                    <a href="#" class="logo">naturix <span>farmfood</span></a> 
                </div>
                <div class="nav-col">
                    <nav class="nav__menu">
                        <ul class="nav__menu-wrap">
                            <li class="nav__menu-item">
                                <a href="#" class="menu-link">HOME</a>
                            </li>
                            <li class="nav__menu-item">
                                <a href="#" class="menu-link">ABOUT US</a>
                            </li>
                            <li class="nav__menu-item">
                                <a href="#" class="menu-link">SHOP</a>
                            </li>
                            <li class="nav__menu-item">
                                <a href="#" class="menu-link">BLOG</a>
                            </li>
                            <li class="nav__menu-item">
                                <a href="#" class="menu-link">CONTACT US</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="nav__cart">
                        <a href="#" class="nav__cart-link"><img src="./img/svg/cart.svg" alt="cart"></a>
                        <span>$.00</span>
                    </div>
                    <button class="nav__burger">
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="header">
        <div class="header__carousel owl-carousel owl-theme">
            <div class="header__carousel-item" data-dot="<span>1</span>">
                <div class="header__carousel-img">
                    <img src="./img/header-carousel/slide-01.png" alt="slide-01">
                </div>
            </div>
            <div class="header__carousel-item" data-dot="<span>2</span>">
                <div class="header__carousel-img">
                    <img src="./img/header-carousel/slide-01.png" alt="slide-01">
                </div>
            </div>
            <div class="header__carousel-item" data-dot="<span>3</span>">
                <div class="header__carousel-img">
                    <img src="./img/header-carousel/slide-01.png" alt="slide-01">
                </div>
            </div>
            <div class="header__carousel-item" data-dot="<span>4</span>">
                <div class="header__carousel-img">
                    <img src="./img/header-carousel/slide-01.png" alt="slide-01">
                </div>
            </div>
            <div class="header__carousel-item" data-dot="<span>5</span>">
                <div class="header__carousel-img">
                    <img src="./img/header-carousel/slide-01.png" alt="slide-01">
                </div>
            </div>
        </div>
        <div class="header__content">
            <div class="container-big">
                <div class="header__content-wrap">
                    <div class="header__carousel-social">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                    <div class="header__carousel-nav">
                        <button class="header__carousel-custom customPrevBtn" id="customPrevBtn">&#129040;</button>
                        <button class="header__carousel-custom customNextBtn" id="customNextBtn">&#129042;</button>
                    </div>
                    <div class="header__carousel-dots">
                        <input type="number" id="header-carousel-active-dots" value="1">
                        <span id="header-carousel-dots">/5</span>
                    </div>
                    <div class="header__carousel-col">
                        <h1 class="header__carousel-title">live organic <span>for liv</span></h1>
                        <p class="header__carousel-subtitle">ORGANIC FRUITS, VEGE</p>
                        <div class="header__carousel-wrap-btn">
                            <button type="button" class="header__carousel-btn">SHOP NOW</button>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
