<section class="info">
    <div class="container">
        <div class="info-wrap">
            <div class="info-row">
                <div class="info-col info-col-col">
                    <div class="info__card">
                        <input type="radio" name="organic-1" id="organic-fruits" data-input="1">
                        <label for="organic-fruits">
                            <img class="info__card-img" src="./img/info/cards/01.png" alt="fruits">
                            <span class="info__card-title title">organic <span>fruits</span></span>
                            <span class="info__card-text">52 items</span>
                        </label>
                    </div>
                    <div class="info__card">
                        <input type="radio" name="organic-1" id="fresh-vegetables" data-input="2">
                        <label for="fresh-vegetables">
                            <img class="info__card-img" src="./img/info/cards/02.png" alt="vegetables">
                            <span class="info__card-title title">fresh <span>vegetables</span></span>
                            <span class="info__card-text">34 items</span>
                        </label>
                    </div>
                    <div class="info__card">
                        <input type="radio" name="organic-1" checked id="organic-breads" data-input="3">
                        <label for="organic-breads">
                            <img class="info__card-img" src="./img/info/cards/03.png" alt="breads">
                            <span class="info__card-title title">organic <span>breads</span></span>
                            <span class="info__card-text">28 items</span>
                        </label>
                    </div>
                </div>
                <div class="info-col info-col-row">
                    <div class="info__text" data-text="1">
                        <p class="info__text-subtitle">FRESH FROM OUR FARM</p>
                        <h3 class="info__text-title">180+ <span>organic fruits</span></h3>
                        <p class="info__text-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                    </div>
                    <div class="info__text" data-text="2">
                        <p class="info__text-subtitle">FRESH FROM OUR FARM</p>
                        <h3 class="info__text-title">110+ <span>fresh vegetables</span></h3>
                        <p class="info__text-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                    </div>
                    <div class="info__text info__text--active" data-text="3">
                        <p class="info__text-subtitle">FRESH FROM OUR FARM</p>
                        <h3 class="info__text-title">220+ <span>organic breads</span></h3>
                        <p class="info__text-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                    </div>
                </div>
            </div>
            <div class="info-row">
                <div class="info-col info-col-row">
                    <div class="info__text" data-text-second="1">
                        <p class="info__text-subtitle">FRESH FROM OUR FARM</p>
                        <h3 class="info__text-title">110+ <span>organic juices</span></h3>
                        <p class="info__text-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                    </div>
                    <div class="info__text info__text--active" data-text-second="2">
                        <p class="info__text-subtitle">FRESH FROM OUR FARM</p>
                        <h3 class="info__text-title">160+ <span>dried juices</span></h3>
                        <p class="info__text-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                    </div>
                    <div class="info__text" data-text-second="3">
                        <p class="info__text-subtitle">FRESH FROM OUR FARM</p>
                        <h3 class="info__text-title">300+ <span>organic tea</span></h3>
                        <p class="info__text-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                    </div>
                </div>
                <div class="info-col info-col-col">
                    <div class="info__card">
                        <input type="radio" name="organic-2" id="organic-juices" data-input-second="1">
                        <label for="organic-juices">
                            <img class="info__card-img" src="./img/info/cards/04.png" alt="juices">
                            <span class="info__card-title title">organic <span>juices</span></span>
                            <span class="info__card-text">45 items</span>
                        </label>
                    </div>
                    <div class="info__card">
                        <input type="radio" name="organic-2" checked id="dried-juices" data-input-second="2">
                        <label for="dried-juices">
                            <img class="info__card-img" src="./img/info/cards/05.png" alt="juices">
                            <span class="info__card-title title">dried <span>juices</span></span>
                            <span class="info__card-text">63 items</span>
                        </label>
                    </div>
                    <div class="info__card">
                        <input type="radio" name="organic-2" id="organic-tea" data-input-second="3">
                        <label for="organic-tea">
                            <img class="info__card-img" src="./img/info/cards/06.png" alt="tea">
                            <span class="info__card-title title">organic <span>tea</span></span>
                            <span class="info__card-text">15 items</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>