<section class="info">
    <div class="container">
        <div class="info-wrap">
            <div class="info-row">
                <div class="info-col info-col-col">
                    <div class="info__card">
                        <input type="radio" name="organic-1" id="organic-fruits">
                        <label for="organic-fruits">
                            <img class="info__card-img" src="./img/info/cards/01.png" alt="fruits">
                            <h4 class="info__card-title title">organic <span>fruits</span></h4>
                            <p class="info__card-text">52 items</p>
                        </label>
                    </div>
                    <div class="info__card">
                        <input type="radio" name="organic-1" id="fresh-vegetables">
                        <label for="fresh-vegetables">
                            <img class="info__card-img" src="./img/info/cards/02.png" alt="vegetables">
                            <h4 class="info__card-title title">fresh <span>vegetables</span></h4>
                            <p class="info__card-text">34 items</p>
                        </label>
                    </div>
                    <div class="info__card">
                        <input type="radio" name="organic-1" checked id="organic-breads">
                        <label for="organic-breads">
                            <img class="info__card-img" src="./img/info/cards/03.png" alt="breads">
                            <h4 class="info__card-title title">organic <span>breads</span></h4>
                            <p class="info__card-text">28 items</p>
                        </label>
                    </div>
                </div>
                <div class="info-col info-col-row">
                    <div class="info__text">
                        <p class="info__text-subtitle">FRESH FROM OUR FARM</p>
                        <h3 class="info__text-title">220+ <span>fruits, vegetables & lot more</span></h3>
                        <p class="info__text-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                    </div>
                    <div class="info__text" style="display: none;">
                        <p class="info__text-subtitle">FRESH FROM OUR FARM</p>
                        <h3 class="info__text-title">220+ <span>fruits, vegetables & lot more</span></h3>
                        <p class="info__text-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                    </div>
                    <div class="info__text" style="display: none;">
                        <p class="info__text-subtitle">FRESH FROM OUR FARM</p>
                        <h3 class="info__text-title">220+ <span>fruits, vegetables & lot more</span></h3>
                        <p class="info__text-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                    </div>
                </div>
            </div>
            <div class="info-row">
                <div class="info-col info-col-row">
                    <div class="info__text">
                        <p class="info__text-subtitle">FRESH FROM OUR FARM</p>
                        <h3 class="info__text-title">110+ <span>fruits, vegetables & lot more</span></h3>
                        <p class="info__text-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                    </div>
                    <div class="info__text" style="display: none;">
                        <p class="info__text-subtitle">FRESH FROM OUR FARM</p>
                        <h3 class="info__text-title">110+ <span>fruits, vegetables & lot more</span></h3>
                        <p class="info__text-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                    </div>
                    <div class="info__text" style="display: none;">
                        <p class="info__text-subtitle">FRESH FROM OUR FARM</p>
                        <h3 class="info__text-title">110+ <span>fruits, vegetables & lot more</span></h3>
                        <p class="info__text-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                    </div>
                </div>
                <div class="info-col info-col-col">
                    <div class="info__card">
                        <input type="radio" name="organic-2" id="organic-juices">
                        <label for="organic-juices">
                            <img class="info__card-img" src="./img/info/cards/04.png" alt="juices">
                            <h4 class="info__card-title title">organic <span>juices</span></h4>
                            <p class="info__card-text">45 items</p>
                        </label>
                    </div>
                    <div class="info__card">
                        <input type="radio" name="organic-2" checked id="dried-juices">
                        <label for="dried-juices">
                            <img class="info__card-img" src="./img/info/cards/05.png" alt="juices">
                            <h4 class="info__card-title title">dried <span>juices</span></h4>
                            <p class="info__card-text">63 items</p>
                        </label>
                    </div>
                    <div class="info__card">
                        <input type="radio" name="organic-2" id="organic-tea">
                        <label for="organic-tea">
                            <img class="info__card-img" src="./img/info/cards/06.png" alt="tea">
                            <h4 class="info__card-title title">organic <span>tea</span></h4>
                            <p class="info__card-text">15 items</p>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>