<section class="news">
    <div class="container">
        <div class="news-wrap">
            <div class="news__carousel owl-carousel owl-theme">
                <div class="news__carousel-item">
                    <div class="news__carousel-avatar">
                        <img src="./img/news/sub/sub.png" alt="">
                    </div>
                    <div class="news__carousel-text">
                        <p class="news__carousel-message">“Lorem ipsum dolor sit amet, consectetuer adipiscing elitsed the diam nonummy nibh euismod tincidunt.”</p>
                        <h6 class="news__carousel-user"><i class="fa fa-user" aria-hidden="true"></i>LUIS GARCHIA</h6>
                    </div>
                </div>
                <div class="news__carousel-item">
                    <div class="news__carousel-avatar">
                        <img src="./img/news/sub/sub.png" alt="">
                    </div>
                    <div class="news__carousel-text">
                        <p class="news__carousel-message">“Lorem ipsum dolor sit amet, consectetuer adipiscing elitsed the diam nonummy nibh euismod tincidunt.”</p>
                        <h6 class="news__carousel-user"><i class="fa fa-user" aria-hidden="true"></i>LUIS GARCHIA</h6>
                    </div>
                </div>
            </div>
            <div class="news__carousel-nav">
                <button class="header__carousel-custom customPrevBtn--comment">&#129040;</button>
                <button class="header__carousel-custom customNextBtn--comment">&#129042;</button>
            </div>
            <div class="news__blog">
                <h6 class="news__blog-subtitle">NATURIX BLOG</h6>
                <h5 class="news__blog-title">naturix <span>latest news</span></h5>
                <div class="news__blog-article-row">
                    <article class="news__blog-article">
                        <div class="news__blog-article-img">
                            <img src="./img/news/article/news-01.jpg" alt="news-01">
                        </div>
                        <div class="news__blog-article-info">
                            <span class="news__blog-article-info-date">26 JUNE 2016</span>
                            <h5 class="news__blog-article-info-title">5 best foods to make <span>fresh & healthy</span></h5>
                            <p class="news__blog-article-info-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy</p>
                            <a href="#" class="news__blog-article-info-link">READ ARTICLE <span>&#129042;</span></a>
                        </div>
                    </article>
                    <article class="news__blog-article">
                        <div class="news__blog-article-img">
                            <img src="./img/news/article/news-02.jpg" alt="news-02">
                        </div>
                        <div class="news__blog-article-info">
                            <span class="news__blog-article-info-date">26 JUNE 2016</span>
                            <h5 class="news__blog-article-info-title">5 best foods to make <span>fresh & healthy</span></h5>
                            <p class="news__blog-article-info-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy</p>
                            <a href="#" class="news__blog-article-info-link">READ ARTICLE <span>&#129042;</span></a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>