<section class="promo">
    <div class="container">
        <div class="promo-wrap">
            <div class="promo__logo">
                <img src="./img/promo/bg/bg.png" alt="bg">
                <h6>a taste of <span>real food</span></h6>
            </div>
            <div class="promo__carousel-row">
                <div class="promo__carousel-col">
                    <div class="promo__carousel-text">
                        <h5 class="promo__carousel-subtitle">NEW FROM THE FARM</h5>
                        <h4 class="promo__carousel-title title">organic <span>new arrivals</span></h4>
                        <div class="header__carousel-nav">
                            <button class="header__carousel-custom customPrevBtn--arrivals"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></button>
                            <button class="header__carousel-custom customNextBtn--arrivals"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="promo__carousel promo__carousel--arrivals owl-carousel owl-theme">
                        <div class="promo__carousel-item-wrap">
                            <div class="promo__carousel-item">
                                <div class="promo__carousel-item-img">
                                    <img src="./img/shop/corn.png" alt="corn">
                                </div>
                                <div class="promo__carousel-item-text">
                                    <h6 class="promo__carousel-item-title title">organic <span>blackberry</span></h6>
                                    <p class="promo__carousel-item-price">$50.00</p>
                                </div>
                                <a href="#"></a>
                            </div>
                            <div class="promo__carousel-item">
                                <div class="promo__carousel-item-img">
                                    <img src="./img/shop/corn.png" alt="corn">
                                </div>
                                <div class="promo__carousel-item-text">
                                    <h6 class="promo__carousel-item-title title">organic <span>blackberry</span></h6>
                                    <p class="promo__carousel-item-price">$50.00</p>
                                </div>
                                <a href="#"></a>
                            </div>
                            <div class="promo__carousel-item">
                                <div class="promo__carousel-item-img">
                                    <img src="./img/shop/corn.png" alt="corn">
                                </div>
                                <div class="promo__carousel-item-text">
                                    <h6 class="promo__carousel-item-title title">organic <span>blackberry</span></h6>
                                    <p class="promo__carousel-item-price">$50.00</p>
                                </div>
                                <a href="#"></a>
                            </div>
                        </div>
                        <div class="promo__carousel-item-wrap">
                            <div class="promo__carousel-item">
                                <div class="promo__carousel-item-img">
                                    <img src="./img/shop/corn.png" alt="corn">
                                </div>
                                <div class="promo__carousel-item-text">
                                    <h6 class="promo__carousel-item-title title">organic <span>blackberry</span></h6>
                                    <p class="promo__carousel-item-price">$50.00</p>
                                </div>
                                <a href="#"></a>
                            </div>
                            <div class="promo__carousel-item">
                                <div class="promo__carousel-item-img">
                                    <img src="./img/shop/corn.png" alt="corn">
                                </div>
                                <div class="promo__carousel-item-text">
                                    <h6 class="promo__carousel-item-title title">organic <span>blackberry</span></h6>
                                    <p class="promo__carousel-item-price">$50.00</p>
                                </div>
                                <a href="#"></a>
                            </div>
                            <div class="promo__carousel-item">
                                <div class="promo__carousel-item-img">
                                    <img src="./img/shop/corn.png" alt="corn">
                                </div>
                                <div class="promo__carousel-item-text">
                                    <h6 class="promo__carousel-item-title title">organic <span>blackberry</span></h6>
                                    <p class="promo__carousel-item-price">$50.00</p>
                                </div>
                            </div>
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="promo__carousel-col">
                    <div class="promo__carousel-text">
                        <h5 class="promo__carousel-subtitle">BEST SELLER</h5>
                        <h4 class="promo__carousel-title title">organic <span>popular</span></h4>
                        <div class="header__carousel-nav">
                            <button class="header__carousel-custom customPrevBtn--popular"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></button>
                            <button class="header__carousel-custom customNextBtn--popular"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="promo__carousel promo__carousel--popular owl-carousel owl-theme">
                        <div class="promo__carousel-item-wrap">
                            <div class="promo__carousel-item">
                                <div class="promo__carousel-item-img">
                                    <img src="./img/shop/pepper.png" alt="pepper">
                                </div>
                                <div class="promo__carousel-item-text">
                                    <h6 class="promo__carousel-item-title title">organic <span>blackberry</span></h6>
                                    <p class="promo__carousel-item-price">$50.00</p>
                                </div>
                                <a href="#"></a>
                            </div>
                            <div class="promo__carousel-item">
                                <div class="promo__carousel-item-img">
                                    <img src="./img/shop/pepper.png" alt="pepper">
                                </div>
                                <div class="promo__carousel-item-text">
                                    <h6 class="promo__carousel-item-title title">organic <span>blackberry</span></h6>
                                    <p class="promo__carousel-item-price">$50.00</p>
                                </div>
                                <a href="#"></a>
                            </div>
                            <div class="promo__carousel-item">
                                <div class="promo__carousel-item-img">
                                    <img src="./img/shop/pepper.png" alt="pepper">
                                </div>
                                <div class="promo__carousel-item-text">
                                    <h6 class="promo__carousel-item-title title">organic <span>blackberry</span></h6>
                                    <p class="promo__carousel-item-price">$50.00</p>
                                </div>
                                <a href="#"></a>
                            </div>
                        </div>
                        <div class="promo__carousel-item-wrap">
                            <div class="promo__carousel-item">
                                <div class="promo__carousel-item-img">
                                    <img src="./img/shop/pepper.png" alt="pepper">
                                </div>
                                <div class="promo__carousel-item-text">
                                    <h6 class="promo__carousel-item-title title">organic <span>blackberry</span></h6>
                                    <p class="promo__carousel-item-price">$50.00</p>
                                </div>
                                <a href="#"></a>
                            </div>
                            <div class="promo__carousel-item">
                                <div class="promo__carousel-item-img">
                                    <img src="./img/shop/pepper.png" alt="pepper">
                                </div>
                                <div class="promo__carousel-item-text">
                                    <h6 class="promo__carousel-item-title title">organic <span>blackberry</span></h6>
                                    <p class="promo__carousel-item-price">$50.00</p>
                                </div>
                                <a href="#"></a>
                            </div>
                            <div class="promo__carousel-item">
                                <div class="promo__carousel-item-img">
                                    <img src="./img/shop/pepper.png" alt="pepper">
                                </div>
                                <div class="promo__carousel-item-text">
                                    <h6 class="promo__carousel-item-title title">organic <span>blackberry</span></h6>
                                    <p class="promo__carousel-item-price">$50.00</p>
                                </div>
                                <a href="#"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="promo__carousel-col">
                    <div class="promo__carousel-text">
                        <h5 class="promo__carousel-subtitle">COSTUMER NEEDS</h5>
                        <h4 class="promo__carousel-title title">organic <span>random</span></h4>
                        <div class="header__carousel-nav">
                            <button class="header__carousel-custom customPrevBtn--random"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></button>
                            <button class="header__carousel-custom customNextBtn--random"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="promo__carousel promo__carousel--random owl-carousel owl-theme">
                        <div class="promo__carousel-item-wrap">
                            <div class="promo__carousel-item">
                                <div class="promo__carousel-item-img">
                                    <img src="./img/shop/rasberry.png" alt="rasberry">
                                </div>
                                <div class="promo__carousel-item-text">
                                    <h6 class="promo__carousel-item-title title">organic <span>blackberry</span></h6>
                                    <p class="promo__carousel-item-price">$50.00</p>
                                </div>
                                <a href="#"></a>
                            </div>
                            <div class="promo__carousel-item">
                                <div class="promo__carousel-item-img">
                                    <img src="./img/shop/rasberry.png" alt="rasberry">
                                </div>
                                <div class="promo__carousel-item-text">
                                    <h6 class="promo__carousel-item-title title">organic <span>blackberry</span></h6>
                                    <p class="promo__carousel-item-price">$50.00</p>
                                </div>
                                <a href="#"></a>
                            </div>
                            <div class="promo__carousel-item">
                                <div class="promo__carousel-item-img">
                                    <img src="./img/shop/rasberry.png" alt="rasberry">
                                </div>
                                <div class="promo__carousel-item-text">
                                    <h6 class="promo__carousel-item-title title">organic <span>blackberry</span></h6>
                                    <p class="promo__carousel-item-price">$50.00</p>
                                </div>
                                <a href="#"></a>
                            </div>
                        </div>
                        <div class="promo__carousel-item-wrap">
                            <div class="promo__carousel-item">
                                <div class="promo__carousel-item-img">
                                    <img src="./img/shop/rasberry.png" alt="rasberry">
                                </div>
                                <div class="promo__carousel-item-text">
                                    <h6 class="promo__carousel-item-title title">organic <span>blackberry</span></h6>
                                    <p class="promo__carousel-item-price">$50.00</p>
                                </div>
                                <a href="#"></a>
                            </div>
                            <div class="promo__carousel-item">
                                <div class="promo__carousel-item-img">
                                    <img src="./img/shop/rasberry.png" alt="rasberry">
                                </div>
                                <div class="promo__carousel-item-text">
                                    <h6 class="promo__carousel-item-title title">organic <span>blackberry</span></h6>
                                    <p class="promo__carousel-item-price">$50.00</p>
                                </div>
                                <a href="#"></a>
                            </div>
                            <div class="promo__carousel-item">
                                <div class="promo__carousel-item-img">
                                    <img src="./img/shop/rasberry.png" alt="rasberry">
                                </div>
                                <div class="promo__carousel-item-text">
                                    <h6 class="promo__carousel-item-title title">organic <span>blackberry</span></h6>
                                    <p class="promo__carousel-item-price">$50.00</p>
                                </div>
                                <a href="#"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="promo__banners">
                <div class="promo__banners-card promo__banners-card--olive">
                    <div class="promo__banners-card-text">
                        <p class="promo__banners-card-text-tag">Vegetable</p>
                        <h6 class="promo__banners-card-text-title title">GREEN <span>OLIVE</span></h6>
                        <p class="promo__banners-card-text-subtitle">35% OFF IN JUNE-JULY</p>
                    </div>
                    <h5 class="promo__banners-card-title title">
                        FRESH FROM OUR FARM : <span>GREEN OLIVE</span>
                    </h5>
                    <a href="#" class="promo__banners-card-link">SHOP NOW <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></a>
                </div>
                <div class="promo__banners-card promo__banners-card--peach">
                    <div class="promo__banners-card-text">
                        <p class="promo__banners-card-text-tag">Fruits</p>
                        <h6 class="promo__banners-card-text-title title">ALL  <span>SUMMER</span></h6>
                        <p class="promo__banners-card-text-subtitle">35% OFF IN JUNE-JULY</p>
                    </div>
                    <h5 class="promo__banners-card-title title">
                        FRESH SUMMER <span>FRUITS</span>
                    </h5>
                    <a href="#" class="promo__banners-card-link promo__banners-card-link--peach">SHOP NOW <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></a>
                </div>
            </div>
        </div>
    </div>
</section>