<section class="shop">
    <form class="shop__nav container">
        <div class="shop__nav-col">
            <input type="radio" name="shop-checkbox" id="shop-fruits">
            <label for="shop-fruits" class="shop__nav-radio">organic&nbsp;<span>fruits</span></label>
            <input type="radio" name="shop-checkbox" id="shop-vegetables" checked>
            <label for="shop-vegetables" class="shop__nav-radio">organic&nbsp;<span>vegetables</span></label>
        </div>
        <div class="shop__nav-col">
            <input type="radio" name="shop-checkbox" id="shop-juices">
            <label for="shop-juices" class="shop__nav-radio">organic&nbsp;<span>juices</span></label>
            <input type="radio" name="shop-checkbox" id="shop-dried-fruits">
            <label for="shop-dried-fruits" class="shop__nav-radio">organic&nbsp;<span>dried fruits</span></label>
        </div>
    </form>
    <div class="shop__carousel container-big owl-carousel owl-theme">
        <div class="shop__carousel-item">
            <div class="shop__carousel-img">
                <img src="./img/shop/tomato.png" alt="tomato">
            </div>
            <h4 class="shop__carousel-title">organic <span>tomato</span></h4>
            <p class="shop__carousel-price">$50.00</p>
            <a href="#" class="shop__carousel-item-link"></a>
            <div class="shop__carousel-icons">
                <div class="shop__carousel-icon">
                    <button type="button" data-heart>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="shop__carousel-icon">
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="shop__carousel-icon">
                    <button type="button">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="shop__carousel-item">
            <div class="shop__carousel-img">
                <img src="./img/shop/cabbage.png" alt="cabbage">
            </div>
            <h4 class="shop__carousel-title">organic <span>cabbage</span></h4>
            <p class="shop__carousel-price">$50.00 <span>$65.00</span></p>
            <a href="#" class="shop__carousel-item-link"></a>
            <div class="shop__carousel-icons">
                <div class="shop__carousel-icon">
                    <button type="button" data-heart>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="shop__carousel-icon">
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="shop__carousel-icon">
                    <button type="button">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="shop__carousel-item">
            <div class="shop__carousel-img">
                <img src="./img/shop/pineapple.png" alt="pineapple">
            </div>
            <h4 class="shop__carousel-title">organic <span>pineapple</span></h4>
            <p class="shop__carousel-price">$50.00</p>
            <a href="#" class="shop__carousel-item-link"></a>
            <div class="shop__carousel-item-teg">
                <span class="card__teg-new">New</span>
                <span class="card__teg-sale">Sale</span>
            </div>
            <div class="shop__carousel-icons">
                <div class="shop__carousel-icon">
                    <button type="button" data-heart>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="shop__carousel-icon">
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="shop__carousel-icon">
                    <button type="button">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="shop__carousel-item">
            <div class="shop__carousel-img">
                <img src="./img/shop/rasberry.png" alt="rasberry">
            </div>
            <h4 class="shop__carousel-title">organic <span>rasberry</span></h4>
            <p class="shop__carousel-price">$50.00</p>
            <a href="#" class="shop__carousel-item-link"></a>
            <div class="shop__carousel-icons">
                <div class="shop__carousel-icon">
                    <button type="button" data-heart>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="shop__carousel-icon">
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="shop__carousel-icon">
                    <button type="button">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="shop__carousel-item">
            <div class="shop__carousel-img">
                <img src="./img/shop/corn.png" alt="corn">
            </div>
            <h4 class="shop__carousel-title">organic <span>corn</span></h4>
            <p class="shop__carousel-price">$50.00</p>
            <a href="#" class="shop__carousel-item-link"></a>
            <div class="shop__carousel-icons">
                <div class="shop__carousel-icon">
                    <button type="button" data-heart>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="shop__carousel-icon">
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="shop__carousel-icon">
                    <button type="button">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="shop__carousel-item">
            <div class="shop__carousel-img">
                <img src="./img/shop/ginger.png" alt="ginger">
            </div>
            <h4 class="shop__carousel-title">organic <span>ginger</span></h4>
            <p class="shop__carousel-price">$30.00</p>
            <a href="#" class="shop__carousel-item-link"></a>
            <div class="shop__carousel-icons">
                <div class="shop__carousel-icon">
                    <button type="button" data-heart>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="shop__carousel-icon">
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="shop__carousel-icon">
                    <button type="button">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="shop__carousel-item">
            <div class="shop__carousel-img">
                <img src="./img/shop/pepper.png" alt="pepper">
            </div>
            <h4 class="shop__carousel-title">organic <span>pepper</span></h4>
            <p class="shop__carousel-price">$40.00</p>
            <a href="#" class="shop__carousel-item-link"></a>
            <div class="shop__carousel-icons">
                <div class="shop__carousel-icon">
                    <button type="button" data-heart>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="shop__carousel-icon">
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="shop__carousel-icon">
                    <button type="button">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="shop__carousel-item">
            <div class="shop__carousel-img">
                <img src="./img/shop/mushrooms.png" alt="mushrooms">
            </div>
            <h4 class="shop__carousel-title">organic <span>mushrooms</span></h4>
            <p class="shop__carousel-price">$70.00</p>
            <a href="#" class="shop__carousel-item-link"></a>
            <div class="shop__carousel-icons">
                <div class="shop__carousel-icon">
                    <button type="button" data-heart>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="shop__carousel-icon">
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="shop__carousel-icon">
                    <button type="button">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="shop__carousel-item">
            <div class="shop__carousel-img">
                <img src="./img/shop/tomato.png" alt="tomato">
            </div>
            <h4 class="shop__carousel-title">organic <span>tomato</span></h4>
            <p class="shop__carousel-price">$50.00</p>
            <a href="#" class="shop__carousel-item-link"></a>
            <div class="shop__carousel-icons">
                <div class="shop__carousel-icon">
                    <button type="button" data-heart>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="shop__carousel-icon">
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="shop__carousel-icon">
                    <button type="button">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="shop__carousel-item">
            <div class="shop__carousel-img">
                <img src="./img/shop/cabbage.png" alt="cabbage">
            </div>
            <h4 class="shop__carousel-title">organic <span>cabbage</span></h4>
            <p class="shop__carousel-price">$50.00 <span>$65.00</span></p>
            <a href="#" class="shop__carousel-item-link"></a>
            <div class="shop__carousel-icons">
                <div class="shop__carousel-icon">
                    <button type="button" data-heart>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="shop__carousel-icon">
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="shop__carousel-icon">
                    <button type="button">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="shop__carousel-item">
            <div class="shop__carousel-img">
                <img src="./img/shop/pineapple.png" alt="pineapple">
            </div>
            <h4 class="shop__carousel-title">organic <span>pineapple</span></h4>
            <p class="shop__carousel-price">$50.00</p>
            <a href="#" class="shop__carousel-item-link"></a>
            <div class="shop__carousel-item-teg">
                <span class="card__teg-new">New</span>
                <span class="card__teg-sale">Sale</span>
            </div>
            <div class="shop__carousel-icons">
                <div class="shop__carousel-icon">
                    <button type="button" data-heart>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="shop__carousel-icon">
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="shop__carousel-icon">
                    <button type="button">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="shop__carousel-item">
            <div class="shop__carousel-img">
                <img src="./img/shop/rasberry.png" alt="rasberry">
            </div>
            <h4 class="shop__carousel-title">organic <span>rasberry</span></h4>
            <p class="shop__carousel-price">$50.00</p>
            <a href="#" class="shop__carousel-item-link"></a>
            <div class="shop__carousel-icons">
                <div class="shop__carousel-icon">
                    <button type="button" data-heart>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="shop__carousel-icon">
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="shop__carousel-icon">
                    <button type="button">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="shop__carousel-item">
            <div class="shop__carousel-img">
                <img src="./img/shop/corn.png" alt="corn">
            </div>
            <h4 class="shop__carousel-title">organic <span>corn</span></h4>
            <p class="shop__carousel-price">$50.00</p>
            <a href="#" class="shop__carousel-item-link"></a>
            <div class="shop__carousel-icons">
                <div class="shop__carousel-icon">
                    <button type="button" data-heart>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="shop__carousel-icon">
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="shop__carousel-icon">
                    <button type="button">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="shop__carousel-item">
            <div class="shop__carousel-img">
                <img src="./img/shop/ginger.png" alt="ginger">
            </div>
            <h4 class="shop__carousel-title">organic <span>ginger</span></h4>
            <p class="shop__carousel-price">$30.00</p>
            <a href="#" class="shop__carousel-item-link"></a>
            <div class="shop__carousel-icons">
                <div class="shop__carousel-icon">
                    <button type="button" data-heart>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="shop__carousel-icon">
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="shop__carousel-icon">
                    <button type="button">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="shop__carousel-item">
            <div class="shop__carousel-img">
                <img src="./img/shop/pepper.png" alt="pepper">
            </div>
            <h4 class="shop__carousel-title">organic <span>pepper</span></h4>
            <p class="shop__carousel-price">$40.00</p>
            <a href="#" class="shop__carousel-item-link"></a>
            <div class="shop__carousel-icons">
                <div class="shop__carousel-icon">
                    <button type="button" data-heart>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="shop__carousel-icon">
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="shop__carousel-icon">
                    <button type="button">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="shop__carousel-item">
            <div class="shop__carousel-img">
                <img src="./img/shop/mushrooms.png" alt="mushrooms">
            </div>
            <h4 class="shop__carousel-title">organic <span>mushrooms</span></h4>
            <p class="shop__carousel-price">$70.00</p>
            <a href="#" class="shop__carousel-item-link"></a>
            <div class="shop__carousel-icons">
                <div class="shop__carousel-icon">
                    <button type="button" data-heart>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="shop__carousel-icon">
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="shop__carousel-icon">
                    <button type="button">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="shop__carousel-item">
            <div class="shop__carousel-img">
                <img src="./img/shop/tomato.png" alt="tomato">
            </div>
            <h4 class="shop__carousel-title">organic <span>tomato</span></h4>
            <p class="shop__carousel-price">$50.00</p>
            <a href="#" class="shop__carousel-item-link"></a>
            <div class="shop__carousel-icons">
                <div class="shop__carousel-icon">
                    <button type="button" data-heart>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="shop__carousel-icon">
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="shop__carousel-icon">
                    <button type="button">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="shop__carousel-item">
            <div class="shop__carousel-img">
                <img src="./img/shop/cabbage.png" alt="cabbage">
            </div>
            <h4 class="shop__carousel-title">organic <span>cabbage</span></h4>
            <p class="shop__carousel-price">$50.00 <span>$65.00</span></p>
            <a href="#" class="shop__carousel-item-link"></a>
            <div class="shop__carousel-icons">
                <div class="shop__carousel-icon">
                    <button type="button" data-heart>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="shop__carousel-icon">
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="shop__carousel-icon">
                    <button type="button">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="shop__carousel-item">
            <div class="shop__carousel-img">
                <img src="./img/shop/pineapple.png" alt="pineapple">
            </div>
            <h4 class="shop__carousel-title">organic <span>pineapple</span></h4>
            <p class="shop__carousel-price">$50.00</p>
            <a href="#" class="shop__carousel-item-link"></a>
            <div class="shop__carousel-item-teg">
                <span class="card__teg-new">New</span>
                <span class="card__teg-sale">Sale</span>
            </div>
            <div class="shop__carousel-icons">
                <div class="shop__carousel-icon">
                    <button type="button" data-heart>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="shop__carousel-icon">
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="shop__carousel-icon">
                    <button type="button">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="shop__carousel-item">
            <div class="shop__carousel-img">
                <img src="./img/shop/rasberry.png" alt="rasberry">
            </div>
            <h4 class="shop__carousel-title">organic <span>rasberry</span></h4>
            <p class="shop__carousel-price">$50.00</p>
            <a href="#" class="shop__carousel-item-link"></a>
            <div class="shop__carousel-icons">
                <div class="shop__carousel-icon">
                    <button type="button" data-heart>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="shop__carousel-icon">
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="shop__carousel-icon">
                    <button type="button">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="shop__carousel-item">
            <div class="shop__carousel-img">
                <img src="./img/shop/corn.png" alt="corn">
            </div>
            <h4 class="shop__carousel-title">organic <span>corn</span></h4>
            <p class="shop__carousel-price">$50.00</p>
            <a href="#" class="shop__carousel-item-link"></a>
            <div class="shop__carousel-icons">
                <div class="shop__carousel-icon">
                    <button type="button" data-heart>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="shop__carousel-icon">
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="shop__carousel-icon">
                    <button type="button">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="shop__carousel-item">
            <div class="shop__carousel-img">
                <img src="./img/shop/ginger.png" alt="ginger">
            </div>
            <h4 class="shop__carousel-title">organic <span>ginger</span></h4>
            <p class="shop__carousel-price">$30.00</p>
            <a href="#" class="shop__carousel-item-link"></a>
            <div class="shop__carousel-icons">
                <div class="shop__carousel-icon">
                    <button type="button" data-heart>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="shop__carousel-icon">
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="shop__carousel-icon">
                    <button type="button">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="shop__carousel-item">
            <div class="shop__carousel-img">
                <img src="./img/shop/pepper.png" alt="pepper">
            </div>
            <h4 class="shop__carousel-title">organic <span>pepper</span></h4>
            <p class="shop__carousel-price">$40.00</p>
            <a href="#" class="shop__carousel-item-link"></a>
            <div class="shop__carousel-icons">
                <div class="shop__carousel-icon">
                    <button type="button" data-heart>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="shop__carousel-icon">
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="shop__carousel-icon">
                    <button type="button">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="shop__carousel-item">
            <div class="shop__carousel-img">
                <img src="./img/shop/mushrooms.png" alt="mushrooms">
            </div>
            <h4 class="shop__carousel-title">organic <span>mushrooms</span></h4>
            <p class="shop__carousel-price">$70.00</p>
            <a href="#" class="shop__carousel-item-link"></a>
            <div class="shop__carousel-icons">
                <div class="shop__carousel-icon">
                    <button type="button" data-heart>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="shop__carousel-icon">
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="shop__carousel-icon">
                    <button type="button">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="shop__carousel-item">
            <div class="shop__carousel-img">
                <img src="./img/shop/tomato.png" alt="tomato">
            </div>
            <h4 class="shop__carousel-title">organic <span>tomato</span></h4>
            <p class="shop__carousel-price">$50.00</p>
            <a href="#" class="shop__carousel-item-link"></a>
            <div class="shop__carousel-icons">
                <div class="shop__carousel-icon">
                    <button type="button" data-heart>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="shop__carousel-icon">
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="shop__carousel-icon">
                    <button type="button">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="shop__carousel-item">
            <div class="shop__carousel-img">
                <img src="./img/shop/cabbage.png" alt="cabbage">
            </div>
            <h4 class="shop__carousel-title">organic <span>cabbage</span></h4>
            <p class="shop__carousel-price">$50.00 <span>$65.00</span></p>
            <a href="#" class="shop__carousel-item-link"></a>
            <div class="shop__carousel-icons">
                <div class="shop__carousel-icon">
                    <button type="button" data-heart>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="shop__carousel-icon">
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="shop__carousel-icon">
                    <button type="button">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="shop__carousel-item">
            <div class="shop__carousel-img">
                <img src="./img/shop/pineapple.png" alt="pineapple">
            </div>
            <h4 class="shop__carousel-title">organic <span>pineapple</span></h4>
            <p class="shop__carousel-price">$50.00</p>
            <a href="#" class="shop__carousel-item-link"></a>
            <div class="shop__carousel-item-teg">
                <span class="card__teg-new">New</span>
                <span class="card__teg-sale">Sale</span>
            </div>
            <div class="shop__carousel-icons">
                <div class="shop__carousel-icon">
                    <button type="button" data-heart>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="shop__carousel-icon">
                    <a href="#">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="shop__carousel-icon">
                    <button type="button">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="shop__dots"></div>
</section> 