<section class="stock">
    <div class="container">
        <div class="stock-wrap">
            <div class="stock__text">
                <div class="stock__text-col">
                    <h5 class="stock__text-subtitle">NATURIX DEAL OF THE DAY</h5>
                    <h4 class="stock__text-title">organic goods <span>50%</span> of</h4>
                </div>
                <div class="stock__text-col">
                    <p class="stock__text-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                </div>
            </div>
            <div class="stock__time">
                <div class="stock__time-item">
                    <span class="stock__time-item-hours" id="time-day">28</span>
                    <span class="stock__time-item-text">days</span>
                </div>
                <div class="stock__time-item">
                    <span class="stock__time-item-hours" id="time-hour">25</span>
                    <span class="stock__time-item-text">hours</span>
                </div>
                <div class="stock__time-item">
                    <span class="stock__time-item-hours" id="time-min">59</span>
                    <span class="stock__time-item-text">mins</span>
                </div>
                <div class="stock__time-item">
                    <span class="stock__time-item-hours" id="time-sec">59</span>
                    <span class="stock__time-item-text">secs</span>
                </div>
            </div>
            <div class="stock__cards">
                <div class="stock__card">
                    <div class="stock__card-col-btn"></div>
                    <div class="stock__card-col-text"></div>
                    <div class="stock__card-col-product"></div>
                </div>
                <div class="stock__card">
                    <div class="stock__card-col-btn"></div>
                    <div class="stock__card-col-text"></div>
                    <div class="stock__card-col-product"></div>
                </div>
            </div>
            <div class="stock__pagination">
                <a href="#" class="stock__pagination-link"></a>>1</a>
                <a href="#" class="stock__pagination-link"></a>>2</a>
                <a href="#" class="stock__pagination-link"></a>>3</a>
            </div>
        </div>
    </div>
</section>