<section class="stock">
    <div class="container">
        <div class="stock-wrap">
            <div class="stock__text">
                <div class="stock__text-col">
                    <h5 class="stock__text-subtitle">NATURIX DEAL OF THE DAY</h5>
                    <h4 class="stock__text-title">organic goods <span>50%</span> of</h4>
                </div>
                <div class="stock__text-col">
                    <p class="stock__text-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                </div>
            </div>
            <div class="stock__time">
                <div class="stock__time-item">
                    <span class="stock__time-item-hours" id="time-day"></span>
                    <span class="stock__time-item-text">days</span>
                </div>
                <div class="stock__time-item">
                    <span class="stock__time-item-hours" id="time-hour"></span>
                    <span class="stock__time-item-text">hours</span>
                </div>
                <div class="stock__time-item">
                    <span class="stock__time-item-hours" id="time-min"></span>
                    <span class="stock__time-item-text">mins</span>
                </div>
                <div class="stock__time-item">
                    <span class="stock__time-item-hours" id="time-sec"></span>
                    <span class="stock__time-item-text">secs</span>
                </div>
            </div>
            <div class="stock__cards">
                <div class="stock__card">
                    <div class="stock__card-col-btn">
                        <button type="button" data-heart class="stock__card-btn"><i class="fa fa-heart" aria-hidden="true"></i></button>
                        <button type="button" data-product-cart class="stock__card-btn"><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                        <button type="button" data-size class="stock__card-btn"><i class="fa fa-arrows-alt" aria-hidden="true"></i></button>
                    </div>
                    <div class="stock__card-col-text">
                        <h5 class="stock__card-text-subtitle">ORGANIC FRUITS</h5>
                        <h4 class="stock__card-text-title">fresh <span>rasberry</span></h4>
                        <p class="stock__card-text-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...</p>
                        <p class="stock__card-text-price">$50.00 <span>$65.00</span></p>
                    </div>
                    <div class="stock__card-col-product">
                        <div class="stock__card-product-teg">
                            <span class="card__teg-new">New</span>
                            <span class="card__teg-sale">Sale</span>
                        </div>
                        <div class="stock__card-product-img">
                            <img src="./img/shop/ginger.png" alt="ginger">
                        </div>
                        <a href="#"></a>
                    </div>
                </div>
                <div class="stock__card">
                    <div class="stock__card-col-btn">
                        <button type="button" data-heart class="stock__card-btn"><i class="fa fa-heart" aria-hidden="true"></i></button>
                        <button type="button" data-product-cart class="stock__card-btn"><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                        <button type="button" data-size class="stock__card-btn"><i class="fa fa-arrows-alt" aria-hidden="true"></i></button>
                    </div>
                    <div class="stock__card-col-text">
                        <h5 class="stock__card-text-subtitle">ORGANIC FRUITS</h5>
                        <h4 class="stock__card-text-title">fresh <span>pineapple</span></h4>
                        <p class="stock__card-text-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...</p>
                        <p class="stock__card-text-price">$50.00 <span>$65.00</span></p>
                    </div>
                    <div class="stock__card-col-product">
                        <div class="stock__card-product-teg">
                            <span class="card__teg-new">New</span>
                            <span class="card__teg-sale">Sale</span>
                        </div>
                        <div class="stock__card-product-img">
                            <img src="./img/shop/cabbage.png" alt="cabbage">
                        </div>
                        <a href="#"></a>
                    </div>
                </div>
            </div>
            <div class="stock__pagination">
                <a href="#" class="stock__pagination-link stock__pagination-link--active">1</a>
                <a href="#" class="stock__pagination-link">2</a>
                <a href="#" class="stock__pagination-link">3</a>
            </div>
        </div>
    </div>
</section>