<section class="subscribe">
    <div class="container">
        <div class="subscribe-wrap">
            <div class="subscribe__text">
                <h6 class="subscribe__text-subtitle">JOIN OUR NEWSLETTER</h6>
                <h5 class="subscribe__text-title">subscribe <span>newsletter</span></h5>
            </div>
            <form class="subscribe__form">
                <input type="email" name="subscribe-email" id="subscribe-email-input" placeholder="enter your email address">
                <button type="submit" class="subscribe__form-btn" id="subscribe-email-btn">subscribe <span>&#129042;</span></button>
            </form>
        </div>
    </div>
</section>